// code highlighting

p code,
li code,
dt code,
dd code {
  color: $black;
  color: $gray60;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
}


// page heading

.simplex-page-heading {
  margin: 0 0 1em;
}

// example

.simplex-example {
  border: 1px solid $gray15;
  margin: .5em 0;
  padding: 1em;
}

.simplex-example p:last-of-type {
  margin-bottom: 0;
}

.simplex-example--small {
  display: inline-block;
  width: 2.2em;
  border: 1px solid $gray15;
  margin: .5em .5em 0 0;
  padding: .5em;
  text-align: center;
}


// pre blocks

pre[class*='language-'] {
  margin: .5em 0 1.5em;
}


// hr

.simplex-hr {
  display: block;
  height: 5px;
  border: 0;
  margin: 2em 0 3em;
  background: $gray5;
}


// banner

.simplex-banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


// A visual representation of each breakpoint.

body:before {
  position: fixed;
  z-index: 2;
  top: 1px;
  right: 1px;
  border: 2px solid $white;
  border-radius: 5px;
  padding: .2em .5em;
  color: $white;
  box-shadow: 0 3px 3px rgba(0,0,0,.4);
  font-size: 1.2em;
}


// xs small only

@media (max-width: $screen-xs-max) {
  body:before {
    content: 'XS';
    background: red;
  }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  body:before {
    content: 'SM';
    background: green;
  }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  body:before {
    content: 'MD';
    background: blue;
  }
}


// lg only

@media (min-width: $screen-lg-min) {
  body:before {
    content: 'LG';
    background: black;
  }
}
