// button

.button-primary,
.button-secondary,
.button-success,
.button-warning,
.button-link {
  display: inline-block;
  border-radius: $base-border-radius;
  height: $button-height;
  margin: 0;
  padding: $button-padding;
  cursor: pointer;
  background-image: none;
  font-family: $button-font-family;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}


// primary

.button-primary {
  border: $button-border-width solid $button-primary-border;
  color: $button-primary-color;
  background: $button-primary-background;

  &:focus {
    outline: $link-focus-outline;
  }

  &:focus,
  &:hover {
    border-color: $button-primary-hover-border;
    color: $button-primary-hover-color;
    background: $button-primary-hover-background;
  }

  &:active {
    border-color: $button-primary-active-border;
    color: $button-primary-active-color;
    background: $button-primary-active-background;
  }

  &.disabled,
  &[disabled] {
    border: $button-border-width solid darken($gray10, 5%);
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background-color: $disabled-background;
  }

}


// secondary

.button-secondary {
  border: $button-border-width solid $button-secondary-border;
  color: $button-secondary-color;
  background: $button-secondary-background;

  &:focus {
    outline: $link-focus-outline;
  }

  &:focus,
  &:hover {
    border-color: $button-secondary-hover-border;
    color: $button-secondary-hover-color;
    background: $button-secondary-hover-background;
  }

  &:active {
    border-color: $button-secondary-active-border;
    color: $button-secondary-active-color;
    background: $button-secondary-active-background;
  }

  &.disabled,
  &[disabled] {
    border: $button-border-width solid darken($gray10, 5%);
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background-color: $disabled-background;
  }

}


// success

.button-success {
  border: $button-border-width solid $button-success-border;
  color: $button-success-color;
  background: $button-success-background;

  &:focus {
    outline: $link-focus-outline;
  }

  &:focus,
  &:hover {
    border-color: $button-success-hover-border;
    color: $button-success-hover-color;
    background: $button-success-hover-background;
  }

  &:active {
    border-color: $button-success-active-border;
    color: $button-success-active-color;
    background: $button-success-active-background;
  }

  &.disabled,
  &[disabled] {
    border: $button-border-width solid darken($gray10, 5%);
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background-color: $disabled-background;
  }

}


// warning

.button-warning {
  border: $button-border-width solid $button-warning-border;
  color: $button-warning-color;
  background: $button-warning-background;

  &:focus {
    outline: $link-focus-outline;
  }

  &:focus,
  &:hover {
    border-color: $button-warning-hover-border;
    color: $button-warning-hover-color;
    background: $button-warning-hover-background;
  }

  &:active {
    border-color: $button-warning-active-border;
    color: $button-warning-active-color;
    background: $button-warning-active-background;
  }

  &.disabled,
  &[disabled] {
    border: $button-border-width solid darken($gray10, 5%);
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background-color: $disabled-background;
  }

}


// link

.button-link {
  border: $button-border-width solid $button-link-border;
  color: $button-link-color;
  background: $button-link-background;

  &:focus {
    outline: $link-focus-outline;
  }

  &:focus,
  &:hover {
    color: $button-link-hover-color;
    background: $button-link-hover-background;
  }

  &:active {
    color: $button-link-active-color;
    background: $button-link-active-background;
  }

  &.disabled,
  &[disabled] {
    border: none;
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background: transparent;
  }

}
