// button

.button--primary,
.button--secondary,
.button--link,
.button--small {
  display: inline-block;
  height: $button-height;
  border-radius: $base-border-radius;
  margin: 0;
  padding: $button-padding;
  cursor: pointer;
  background-image: none;
  font-family: $button-font-family;
  line-height: $button-line-height;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}


// primary

.button--primary {
  border: $button-border-width solid $button--primary-border;
  color: $button--primary-color;
  background: $button--primary-background;

  &:focus {
    border-color: $button--primary-focus-border;
    outline: 0;
    color: $button--primary-focus-color;
    background: $button--primary-focus-background;
  }

  &:hover {
    border-color: $button--primary-hover-border;
    color: $button--primary-hover-color;
    background: $button--primary-hover-background;
  }

  &:active {
    border-color: $button--primary-active-border;
    color: $button--primary-active-color;
    background: $button--primary-active-background;
  }

  &.disabled,
  &[disabled] {
    border: $button-border-width solid $disabled-border;
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background-color: $disabled-background;
  }
}


// secondary

.button--secondary {
  border: $button-border-width solid $button--secondary-border;
  color: $button--secondary-color;
  background: $button--secondary-background;

  &:focus {
    border-color: $button--primary-focus-border;
    outline: 0;
    color: $button--primary-focus-color;
    background: $button--primary-focus-background;
  }

  &:hover {
    border-color: $button--secondary-hover-border;
    color: $button--secondary-hover-color;
    background: $button--secondary-hover-background;
  }

  &:active {
    border-color: $button--secondary-active-border;
    color: $button--secondary-active-color;
    background: $button--secondary-active-background;
  }

  &.disabled,
  &[disabled] {
    border: $button-border-width solid $disabled-border;
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background-color: $disabled-background;
  }
}


// link

.button--link {
  border: $button-border-width solid $button--link-border;
  color: $button--link-color;
  background: $button--link-background;

  &:focus {
    border-color: $button--primary-focus-border;
    outline: 0;
    color: $button--primary-focus-color;
    background: $button--primary-focus-background;
  }

  &:hover {
    color: $button--link-hover-color;
    background: $button--link-hover-background;
  }

  &:active {
    border-color: $button--link-active-border;
    color: $button--link-active-color;
    background: $button--link-active-background;
  }

  &.disabled,
  &[disabled] {
    border: $button-border-width solid $disabled-border;
    cursor: not-allowed;
    opacity: 1;
    color: $disabled-color;
    background-color: $disabled-background;
  }
}


// small

.button--small {
  width: 2.25em;
  text-align: center;
  padding: $button-padding-small;
  height: 2.25em;
  line-height: 1;
}


// Font awesome icons inside buttons
// To move the icon towards the left

.button--icon-left {
  margin: 0 .2em 0 -.5em;
  display: inline-block;
}

.button--icon-right {
  margin: 0 -.5em 0 .2em;
  display: inline-block;
}
