// parent

.input-checkbox {
  margin-bottom: .25em;
}


// disabled

.input-checkbox--disabled {
  cursor: not-allowed;
  color: $disabled-color;
}


// control

.input-checkbox__control::after {
  position: relative;
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  background: $white;
  z-index: 1;
  border: 2px solid $input-border-color;
  border-radius: .2em;
}

.input-checkbox__control:focus {
  outline: none;
}

.input-checkbox__control:focus::after {
  outline: $link-focus-outline;
}

.input-checkbox__control:checked::after {
  background-color: $link-color;
  background-image: url(../img/icon-tick-white.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid $link-color;
}

.isInvalid .input-checkbox__control::after {
  border-color: $red;
}

.isInvalid .input-checkbox__control:checked::after {
  border: 2px solid $link-color !important;
}

.input-checkbox--disabled .input-checkbox__control::after {
  border-color: $gray15;
  cursor: not-allowed;
}


// content

.input-checkbox__content {
  position: relative;
  top: .2em;
  left: .4em;
  display: inline-block;
}


// hidden

.input-checkbox__content--hidden {
  @include hidden;
}
