// parent

.checkbox {
  display: inline-block;
  clear: left;
  margin-bottom: 0;
  padding: .2em 1em .5em .3em;
  cursor: pointer;
}

.checkbox:hover {
  background: $hover-background;
}

// disabled

.checkbox--disabled {
  cursor: not-allowed;
  color: $disabled-color;
}


// control

.checkbox__control::after {
  position: relative;
  z-index: 1;
  display: block;
  width: 1.2em;
  height: 1.2em;
  border: $radio-border-width solid $input-border-color;
  border-radius: .2em;
  content: '';
  background: $white;
}

.checkbox__control:checked::after {
  border-color: $link-color;
  background-color: $link-color;
  background-image: url(../img/icons/icon-tick-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

// invalid

.checkbox--invalid .checkbox__control::after {
  border-color: $isinvalid-color;
}

.checkbox--invalid .checkbox__control:checked::after {
  border-color: !important;
}


// focus

.checkbox__control:focus {
  outline: none;
}

.checkbox__control:focus::after {
  border: $radio-border-width-focus solid $focus-border;
  outline: 0;
}


// disabled

.checkbox--disabled .checkbox__control::after {
  border-color: $disabled-border;
  cursor: not-allowed;
  background: $disabled-background;
}

.checkbox--disabled {
  cursor: not-allowed;
}

.checkbox--disabled:hover {
  background: none;
}

.checkbox--disabled .checkbox__content {
  cursor: not-allowed;
}


// content

.checkbox__content {
  position: relative;
  top: .2em;
  left: .4em;
  display: inline-block;
  margin: 0 0 .2em;
  cursor: pointer;
}
