// inline

.description-list--inline-wide,
.description-list--inline-medium,
.description-list--inline-narrow {
  border-top: 1px solid $gray20;
  margin: 1.5em 0;
  padding: 1em 0 0;

  dt {
    float: left;
    font-weight: normal;
  }

  dd {
    border-bottom: 1px solid $gray20;
  }

  dd:after {
    display: block;
    clear: both;
    width: 100%;
    height: 1em;
    content: '';
  }
}

.description-list--inline-wide {
  dt {
    width: 14em;
  }

  dd {
    padding: 0 0 0 15em;
  }
}

.description-list--inline-medium {
  dt {
    width: 10em;
  }

  dd {
    padding: 0 0 0 11em;
  }
}

.description-list--inline-narrow {
  dt {
    width: 6em;
  }

  dd {
    padding: 0 0 0 7em;
  }
}


// aligned

.description-list--aligned {
  border-top: 1px dotted $gray30;
  padding-top: .5em;

  dt {
    float: left;
    width: 20em;
    font-weight: normal;
  }

  dd {
    border-bottom: 1px dotted $gray30;
    margin-bottom: .5em;
    padding: 0 0 .5em 21em;
    text-align: right;
  }
}
