.input__control {
  font-size: $font16;
}

.input__control:hover {
  background: $gray5;
}


// content

.input__content {
  display: block;
  padding-bottom: $label-space;
}


// invalid

.input--invalid .input__control {
  border-color: $isinvalid-color;
}


// focus

.input__control:focus {
  border: 3px solid $black;
  outline: 0;
}


// hidden

.input--hidden .input__content {
  @include hidden;
}


// disabled

.input--disabled .input__content {
  color: $disabled-color;
}
