.input {
  margin-bottom: 1em;
}

.input__control {
  font-size: $font16;
}

.input__content {
  display: block;
  padding-bottom: .1em;
}


// disabled, readonly

.input--disabled .input__content {
  color: $disabled-color;
}


// invalid

.isInvalid .input__control {
  border: 1px solid $isinvalid-color;
  color: $isinvalid-color;
}


// hidden

.input__content--hidden {
  @include hidden;
}
