// button

a.link-button-primary,
a.link-button-secondary {
  display: inline-block;
  border-radius: $base-border-radius;
  margin: 0;
  padding: $button-padding;
  cursor: pointer;
  background-image: none;
  font-family: $button-font-family;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

// primary

a.link-button-primary {
  border: $button-border-width solid $button-primary-border;
  color: $button-primary-color;
  background: $button-primary-background;

  &:focus,
  &:hover {
    border-color: $button-primary-hover-border;
    color: $button-primary-hover-color;
    background: $button-primary-hover-background;
  }

  &:active {
    border-color: $button-primary-active-border;
    color: $button-primary-active-color;
    background: $button-primary-active-background;
  }

}


// secondary

a.link-button-secondary {
  border: $button-border-width solid $button-secondary-border;
  color: $button-secondary-color;
  background: $button-secondary-background;

  &:focus,
  &:hover {
    border-color: $button-secondary-hover-border;
    color: $button-secondary-hover-color;
    background: $button-secondary-hover-background;
  }

  &:active {
    border-color: $button-secondary-active-border;
    color: $button-secondary-active-color;
    background: $button-secondary-active-background;
  }

}
