.list-unstyled,
.list-inline,
.list-inline-slash,
.list-inline-greater,
.list-inline-pipe,
.list-bullet,
.list-contents {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li,
.list-inline-slash li,
.list-inline-greater li,
.list-inline-pipe li {
  display: inline-block;
}

.list-inline li {
  margin: 0 1em 0 0;
}

.list-inline-slash li:before,
.list-inline-greater li:before,
.list-inline-pipe li:before {
  padding: 0 10px 0 5px;
  color: $gray25;
}

.list-inline-slash li:before {
  content: '/';
}

.list-inline-greater li:before {
  content: '>';
}

.list-inline-pipe li:before {
  content: '|';
}

.list-item-active {
  color: $gray45;
}

.list-inline-slash li:first-child:before,
.list-inline-greater li:first-child:before,
.list-inline-pipe li:first-child:before {
  padding: 0;
  content: '';
}


// list-pagination

.list-pagination {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.list-pagination li {
  display: inline;
}

.list-pagination a {
  float: left;
  border: 1px solid $gray15;
  border-radius: .2em;
  margin: 0 3px 0 0;
  padding: .4em .7em .3em;
  text-decoration: none;
}

.list-pagination .list-item-active a {
  background-color: $gray10;
  color: $gray60;
}
