// error

.message--error,
.message--error--radio-group {
  display: block;
  border-radius: $base-border-radius;
  padding: .5em;
  color: darken($red, 5%);
  background: lighten($red, 55%);
  font-size: $font14;
}

.message--error {
  margin: .25em 0 0;
}

.message--error--radio-group {
  margin: .5em 0 0;
}


// help

.message--help,
.message--help--radio-group {
  display: block;
  color: $gray60;
  font-size: $font14;
}

.message--help {
  margin: 0 0 .5em;
}

.message--help--radio-group {
  margin: .2em 0 .3em;
}


// required

.message--required {
  display: inline-block;
  margin-left: .3em;
  color: $red;
  font-size: $font14;
  font-weight: normal;
}
