// error

.message--error {
  display: block;
  margin: .25em 0 0;
  color: $red;
  font-size: $font14;
}

.message--error--radio-group {
  display: block;
  margin: .5em 0 0;
  color: $red;
  font-size: $font14;
}


// hint

.message--hint {
  display: block;
  margin: 0 0 .5em;
  color: $gray60;
  font-size: $font14;
}

.message--hint--radio-group {
  display: block;
  margin: .2em 0 .3em;
  color: $gray60;
  font-size: $font14;
}


// required

.message--required {
  display: inline-block;
  margin-left: .3em;
  color: $red;
  font-size: $font14;
  font-weight: normal;
}
