// unordered list

.radio-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// container

.radio-group__container {
  display: inline-block;
  clear: left;
  margin-bottom: 0;
  padding: .2em 1em .35em .25em;
  cursor: pointer;
}

.radio-group__container:hover {
  background: $gray5;
}


// control

.radio-group__control::after {
  position: relative;
  z-index: 1;
  top: -.1em;
  left: -.1em;
  display: block;
  width: 1.25em;
  height: 1.2em;
  border: 2px solid $input-border-color;
  border-radius: 1.2em;
  content: '';
  background: $white;
}

.radio-group__control:focus {
  outline: none;
}

.radio-group__control:focus::after {
  outline: $link-focus-outline;
}

.radio-group__control:checked::after {
  border: 2px solid $link-color;
  background-color: $link-color;
  background-image: url(../img/icons/icon-circle-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


// content

.radio-group__content {
  position: relative;
  top: 1px;
  left: 4px;
  display: inline-block;
  cursor: pointer;
}


// disabled

.radio-group--disabled .radio-group__content {
  cursor: not-allowed;
  color: $disabled-color;
}

.radio-group--disabled  .radio-group__control::after {
  background: $gray10;
}


// invalid

.isInvalid .radio-group__control::after {
  border: 2px solid $isinvalid-color;
}
