// unordered list

.radio-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.radio-group li {
  margin: .2em 0;
  line-height: 1;
}


// container

.radio-group__container {
  position: relative;
  display: inline-block;
  clear: left;
  overflow: hidden;
  margin-bottom: 0;
  padding: .2em .7em .2em .2em;
  cursor: pointer;
}

.radio-group__container:hover {
  background: $hover-background;
}


// control

.radio-group__control {
  position: relative;
  float: left;
  margin: 0 8px 0 0;
}

.radio-group__control:hover {
  cursor: pointer;
}


// label

.radio-group__label {
  float: left;
  padding: 0;
  line-height: 1;
}

.radio-group__label:hover {
  cursor: pointer;
}

.radio-group__control + .radio-group__label::before {
  position: absolute;
  z-index: 1;
  top: .1em;
  left: 0;
  display: block;
  width: 1.25em;
  height: 1.25em;
  border: $radio-border-width solid $input-border-color;
  border-radius: 1.2em;
  content: '';
  background: $white;
}

.radio-group__label:hover::before {
  cursor: pointer;
}


// invalid

.radio-group--invalid .radio-group__label::before {
  border-color: $isinvalid-color;
}


// checked

.radio-group__control:checked + .radio-group__label::before {
  border-color: $link-color;
  background-color: $link-color;
  background-image: url(../img/icons/icon-circle-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


// focus

.radio-group__control:focus {
  outline: none;
}

.radio-group__control:focus + .radio-group__label::before {
  border: $radio-border-width-focus solid $focus-border;
  outline: 0;
}


// disabled

.radio-group--disabled {
  cursor: not-allowed;
}

.radio-group--disabled .radio-group__container:hover {
  cursor: not-allowed;
  background: none;
}

.radio-group--disabled .radio-group__control {
  cursor: not-allowed;
}

.radio-group--disabled .radio-group__label {
  cursor: not-allowed;
  color: $disabled-color;
}

.radio-group--disabled .radio-group__label::before {
  border-color: $disabled-border;
  cursor: not-allowed;
  background: $disabled-background;
}
