.radiogroup__container {
  margin-bottom: .25em;
}


// control

.radiogroup__control::after {
  position: relative;
  left: -.2em;
  top: -.1em;
  content: "";
  display: block;
  width: 1.25em;
  height: 1.2em;
  background: $white;
  z-index: 1;
  border: 2px solid $input-border-color;
  border-radius: 1.2em;
}

.radiogroup__control:focus {
  outline: none;
}

.radiogroup__control:focus::after {
  outline: $link-focus-outline;
}

.radiogroup__control:checked::after {
  background-color: $link-color;
  background-image: url(../img/icon-circle-white.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid $link-color;
}


// content

.radiogroup__content {
  position: relative;
  top: 1px;
  left: 4px;
  display: inline-block;
}


// disabled

.radiogroup--disabled .radiogroup__content {
  cursor: not-allowed;
  color: $disabled-color;
}


// invalid

.isInvalid .radiogroup__content {
  color: $isinvalid-color;
}


// required

.radiogroup--required .radiogroup__content:after {
  display: inline-block;
  padding: 0 0 0 .2em;
  content: '*';
  color: $required-color;
}


// hidden

.radiogroup__content--hidden {
  @include hidden;
}
