.radiogroup__container {
  margin-bottom: .25em;
}

.radiogroup__control {
  margin: 4px 0 0;
  line-height: normal;
}

.radiogroup__content {
  position: relative;
  top: 2px;
  left: 3px;
  display: inline-block;
}


// disabled

.radiogroup--disabled .radiogroup__content {
  cursor: not-allowed;
  color: $disabled-color;
}


// invalid

.isInvalid .radiogroup__content {
  color: $isinvalid-color;
}


// required

.radiogroup--required .radiogroup__content:after {
  display: inline-block;
  padding: 0 0 0 .2em;
  content: '*';
  color: $required-color;
}


// hidden

.radiogroup__content--hidden {
  @include hidden;
}
