// segmented-control

.segmented-control legend {
  margin-bottom: .5em;
}

.segmented-control__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    border-left: 0;
    text-align: center;
    text-decoration: none;
  }

  input {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }

  input:focus {
    outline: none;
  }

  label {
    z-index: 1;
    display: block;
    height: $input-height;
    border: $input-border-width solid $input-border-color;
    border-right: 0;
    padding: 0 1em ;
    cursor: pointer;
    color: $link-color;
    background: #fff;
    line-height: 2.2em;
  }

  li:first-child label {
    border-radius: $base-border-radius 0 0 $base-border-radius;
  }

  li:last-child label {
    border-right: 2px solid $link-color;
    border-radius: 0 $base-border-radius $base-border-radius 0;
  }

  label:hover {
    background: $hover-background;
  }

  input:checked + label {
    color: #fff;
    background: $link-color;
  }

  input:checked + label:hover {
    color: #fff;
    background: $hover-background;
  }

  input:focus + label {
    border-color: $focus-border;
    outline: 0;
    color: $focus-color;
    background: $focus-background;
  }

  input:active + label {
    border-color: $active-border;
    color: $active-color;
    background: $active-background;
  }

  input:checked + label:hover {
    color: #fff;
    background: $link-color-hover;
  }
}


// stetched

.segmented-control--stretched {
  li {
    flex-grow: 1;
  }
}


// centered

.segmented-control--centered {
  legend {
    text-align: center;
  }

  .segmented-control__list {
    justify-content: center;
  }
}
