.select__control {
  background-color: $white;
  background-image: url(../img/icons/icon-select.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - (5px)) 50%, 0 0;
  background-size: 16px 16px, 100% 100%;
  font-size: $font16;

  -webkit-border-radius: $base-border-radius;
  -webkit-appearance: none;
}

.select__control:focus {
  outline: $link-focus-outline;
}


// content

.select__content {
  display: block;
  padding-bottom: $label-space;
}


// disabled

.select--disabled .select__content {
  color: $disabled-color;
}


// invalid

.isInvalid .select__control {
  border-color: $isinvalid-color;
}


// hidden

.select__content--hidden {
  @include hidden;
}


// multiple

.select__control[multiple] {
  height: 6.2em;
  padding-top: .2em;
  background-image: none;
}
