.select__control {
  -webkit-border-radius: $base-border-radius;
  -webkit-appearance: none;

  background-color: $white;
  background-image: url(../img/icon-select.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - (5px)) 50%, 0 0;
  background-size: 16px 16px, 100% 100%;
  font-size: $font16;
}

.select__content {
  display: block;
  padding-bottom: $label-space;
}


// disabled

.select--disabled .select__content {
  color: $disabled-color;
}


// invalid

.isInvalid .select__content {
  color: $isinvalid-color;
}


// required

.select--required .select__content:after {
  display: inline-block;
  padding: 0 0 0 .2em;
  content: '*';
  color: $required-color;
}


// hidden

.select__content--hidden {
  @include hidden;
}


// multiple

.select__control[multiple] {
  height: 6.2em;
  padding-top: .2em;
  background-image: none;
}
