.textarea__control {
  font-size: $font16;
}

.textarea__control:hover {
  background: $hover-background;
}


// content

.textarea__content {
  display: block;
  padding-bottom: $label-space;
}


// invalid

.textarea--invalid .textarea__control {
  border-color: $isinvalid-color;
}

// focus

.textarea__control:focus {
  border: 3px solid $focus-border;
  outline: 0;
}


// disabled

.textarea--disabled .textarea__content {
  color: $disabled-color;
}


// hidden

.textarea--hidden .textarea__content {
  @include hidden;
}
