.textarea__control {
  font-size: $font16;
}

.textarea__control:focus {
  outline: $link-focus-outline;
}


// content

.textarea__content {
  display: block;
  padding-bottom: $label-space;
}


// disabled

.textarea--disabled .textarea__content {
  color: $disabled-color;
}


// invalid

.isInvalid .textarea__control {
  border: 1px solid $isinvalid-color;
}

.isInvalid .textarea__content {
  color: $isinvalid-color;
}


// required

.textarea--required .textarea__content:after {
  display: inline-block;
  padding: 0 0 0 .2em;
  content: '*';
  color: $required-color;
}
