<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>Button - Simplex Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="Description" lang="en" content="Button component usage and examples">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- CSS links -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="../assets/css/styles.css">

  <!-- Header Javascript links -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- skip to content link -->
  <div class="skip-link">
    <a href="#content">Skip to content (Press enter)</a>
  </div>

  <!-- header row -->
  <div class="pad-y-1 bg-gray10">
    <div class="content-container">
      <ul class="list-inline-pipe simplex-nav">
        <li><a href="../index.html">Simplex</a></li>
        <li><a href="../elements/index.html">Elements</a></li>
        <li><a href="../utilities/index.html">Utility classes</a></li>
        <li><a class="current" href="index.html">Components</a></li>
        <li><a href="../grid/index.html">Grid</a></li>
        <li><a href="../examples/index.html">Examples</a></li>
        <li><a href="https://github.com/russmaxdesign/simplex">Github</a></li>
      </ul>
    </div>
  </div>

  <!-- intro row -->
  <div class="bg-primary pad-y-3">
    <div class="content-container" id="content">
      <h1 class="c-white mar-y-0">Components</h1>
    </div>
  </div>

  <!-- content row -->
  <div class="pad-y-3 bg-white">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list-sidebar">
            <li><a href="index.html">Introduction</a></li>
            <li><b>button</b></li>
            <li><a href="02-link-button.html">link-button</a></li>
            <li><a href="03-input.html">Input</a></li>
            <li><a href="04-checkbox.html">checkbox</a></li>
            <li><a href="05-radio.html">radiogroup</a></li>
            <li><a href="06-select.html">select</a></li>
            <li><a href="07-textarea.html">textarea</a></li>
            <li><a href="08-content-container.html">content-container</a></li>
            <li><a href="09-form-container.html">form-container</a></li>
            <li><a href="10-lists.html">list</a></li>
            <li><a href="11-table.html">table</a></li>
            <li><a href="12-media.html">media</a></li>
            <li><a href="13-flag.html">flag</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2 class="mar-t-0">button</h2>
          <p>The <code>button</code> component represents a clickable button.</p>

          <h4>Usage</h4>
          <ul>
            <li>Used to trigger form submission or events (such as open/close, fired modals etc).</li>
            <li>Must not be used when the purpose is to send the user to a new URL. In these cases, use the <a href="02-link-button.html"><code>button-link</code> component</a>.</li>
            <li>The type must be set to <code>submit</code> when submitting a form.</li>
            <li>In all other cases the type should be set to <code>button</code>.</li>
          </ul>

          <h4>Accessibility</h4>
          <ul>
            <li>There must be sufficient contrast between background and foreground colors</li>
            <li>The content of the button should be meaningful</li>
            <li>The static, focus, hover and active states of the button should be defined</li>
            <li>There must be a clearly visible focus state, and the method should be consistent across all focusable elements.</li>
          </ul>
          <hr>

          <h4>.button-primary</h4>
          <div class="example">
            <button type="button" class="button-primary">button-primary</button>
            <button type="button" class="button-primary" disabled>button-primary</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button-primary"&gt;button-primary&lt;/button&gt;
&lt;button type="button" class="button-primary" disabled&gt;button-primary&lt;/button&gt;
</code></pre>

          <h4>.button-secondary</h4>
          <div class="example">
            <button type="button" class="button-secondary">button-secondary</button>
            <button type="button" class="button-secondary" disabled>button-secondary</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button-secondary"&gt;button-secondary&lt;/button&gt;
&lt;button type="button" class="button-secondary" disabled&gt;button-secondary&lt;/button&gt;
</code></pre>

          <h4>.button-success</h4>
          <div class="example">
            <button type="button" class="button-success">button-success</button>
            <button type="button" class="button-success" disabled>button-success</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button-success"&gt;button-success&lt;/button&gt;
&lt;button type="button" class="button-success" disabled&gt;button-success&lt;/button&gt;
</code></pre>

          <h4>.button-warning</h4>
          <div class="example">
            <button type="button" class="button-warning">button-warning</button>
            <button type="button" class="button-warning" disabled>button-warning</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button-warning"&gt;button-warning&lt;/button&gt;
&lt;button type="button" class="button-warning" disabled&gt;button-warning&lt;/button&gt;
</code></pre>

          <h4>.button-link</h4>
          <div class="example">
            <button type="button" class="button-link">button-link</button>
            <button type="button" class="button-link" disabled>button-link</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button-link"&gt;button-link&lt;/button&gt;
&lt;button type="button" class="button-link" disabled&gt;button-link&lt;/button&gt;
</code></pre>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/prism.js"></script>
</body>
</html>
