<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>Input - Simplex Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="Description" lang="en" content="Input component usage and examples">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- CSS links -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="../assets/css/styles.css">

  <!-- Header Javascript links -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- skip to content link -->
  <div class="skip-link">
    <a href="#content">Skip to content (Press enter)</a>
  </div>

  <!-- header row -->
  <div class="pad-y-1 bg-gray10">
    <div class="content-container">
      <ul class="list-inline-pipe simplex-nav">
        <li><a href="../index.html">Simplex</a></li>
        <li><a href="../elements/index.html">Elements</a></li>
        <li><a href="../utilities/index.html">Utility classes</a></li>
        <li><a class="current" href="index.html">Components</a></li>
        <li><a href="../grid/index.html">Grid</a></li>
        <li><a href="../examples/index.html">Examples</a></li>
        <li><a href="https://github.com/russmaxdesign/simplex">Github</a></li>
      </ul>
    </div>
  </div>

  <!-- intro row -->
  <div class="bg-primary pad-y-3">
    <div class="content-container" id="content">
      <h1 class="c-white mar-y-0">Components</h1>
    </div>
  </div>

  <!-- content row -->
  <div class="pad-y-3 bg-white">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list-sidebar">
            <li><a href="index.html">Introduction</a></li>
            <li><a href="01-button.html">button</a></li>
            <li><a href="02-link-button.html">link-button</a></li>
            <li><b>input</b></li>
            <li><a href="04-checkbox.html">checkbox</a></li>
            <li><a href="05-radiogroup.html">radiogroup</a></li>
            <li><a href="06-select.html">select</a></li>
            <li><a href="07-textarea.html">textarea</a></li>
            <li><a href="08-content-container.html">content-container</a></li>
            <li><a href="09-form-container.html">form-container</a></li>
            <li><a href="10-lists.html">list</a></li>
            <li><a href="11-table.html">table</a></li>
            <li><a href="12-media.html">media</a></li>
            <li><a href="13-flag.html">flag</a></li>
            <li><a href="14-skip-link.html">skip-link</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2 class="mar-t-0">input</h2>
          <p>The <code>input</code> component represents an <code>&lt;input&gt;</code> element with an explicitly associated <code>&lt;label&gt;</code> element. The component also supports additional information and/or error messages associated with the input.</p>

          <h4>Usage</h4>
          <ul>
            <li>Used within forms where single-line user input required.</li>
            <li>The type can include: <code>text</code>, <code>tel</code>, <code>email</code>, <code>password</code>, <code>search</code>, <code>url</code> and other valid options.</li>
            <li>The <code>hidden</code> attribute can be applied to the <code>&lt;label&gt;</code> element but only in specific circumstances. See Accessibility notes.</li>
            <li>The <code>placeholder</code> attribute can be added to the <code>&lt;input&gt;</code> element. See Accessibility notes.</li>
            <li>The <code>input--required</code> attribute should be added to the parent container for all instances were the form control is required. In these instances, the <code>required</code> and <code>aria-required="true"</code> attributes must also be applied to the <code>&lt;input&gt;</code> element.</li>
            <li>When errors occur, the <code>isInvalid</code> attribute should be injected into the parent container.</li>
            <li>The <code>input--disabled</code> attribute can be added to the parent container if the form control needs to be disabled.</li>
          </ul>

          <h4>Accessibility</h4>
          <ul>
            <li>The <code>&lt;label&gt;</code> element should only be hidden in cases where there is no other choices available, and only when the form is extremely simple and its purpose is clear to sighted users.</li>
            <li>For required fields, the <code>required</code> and <code>aria-required="true"</code> attributes must also be applied to the <code>&lt;input&gt;</code> element to inform Assistive Technologies.</li>
            <li>The static, focus and hover states of the <code>&lt;input&gt;</code> element should be defined</li>
            <li>There must be a clearly visible focus state, and the method should be consistent across all focusable elements.</li>
          </ul>
          <hr>

          <h4>Basic input</h4>
          <div class="example">
            <div class="input">
              <label class="input__label" for="example1">
                <span class="input__content">Label for input</span>
                <input class="input__control" type="text" name="example1" id="example1">
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="input"&gt;
  &lt;label class="input__label" for="example1"&gt;
    &lt;span class="input__content"&gt;Label for input&lt;/span&gt;
    &lt;input class="input__control" type="text" name="example1" id="example1"&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <h4>Input with placeholder</h4>
          <div class="example">
            <div class="input">
              <label class="input__label" for="example2">
                <span class="input__content">Label for input</span>
                <input class="input__control" type="text" id="example2" placeholder="Placeholder text">
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="input"&gt;
  &lt;label class="input__label" for="example2"&gt;
    &lt;span class="input__content"&gt;Label for input&lt;/span&gt;
    &lt;input class="input__control" type="text" id="example2" placeholder="Placeholder text"&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <h4>Input with hidden label</h4>
          <div class="example">
            <div class="input">
              <label class="input__label" for="example4">
                <span class="input__content hidden">Label for input</span>
                <input class="input__control" type="text" id="example4">
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="input"&gt;
  &lt;label class="input__label" for="example4"&gt;
    &lt;span class="input__content hidden"&gt;Label for input&lt;/span&gt;
    &lt;input class="input__control" type="text" id="example4"&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <h4>Input with hint text</h4>
          <div class="example">
            <div class="input">
              <label class="input__label" for="example5">
                <span class="input__content">Label for input</span>
                <input class="input__control" type="text" id="example5">
                <span class="message-hint">Hint text</span>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="input"&gt;
  &lt;label class="input__label" for="example5"&gt;
    &lt;span class="input__content"&gt;Label for input&lt;/span&gt;
    &lt;input class="input__control" type="text" id="example5"&gt;
    &lt;span class="message-hint"&gt;Hint text&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <h4>Required input</h4>
          <div class="example">
            <div class="input input--required">
              <label class="input__label" for="example6">
                <span class="input__content">Label for input <span class="required">(Required)</span></span>
                <input class="input__control" type="text" id="example6" required>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="input input--required"&gt;
  &lt;label class="input__label" for="example6"&gt;
    &lt;span class="input__content"&gt;Label for input &lt;span class="required"&gt;(Required)&lt;/span&gt;&lt;/span&gt;
    &lt;input class="input__control" type="text" id="example6" required&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <h4>Invalid input</h4>
          <div class="example">
            <div class="input isInvalid">
              <label class="input__label" for="example7">
                <span class="input__content">Label for input <span class="required">(Required)</span></span>
                <input class="input__control" type="text" id="example7" required>
                <span class="message-error">Error Message</span>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="input isInvalid"&gt;
  &lt;label class="input__label" for="example7"&gt;
    &lt;span class="input__content"&gt;Label for input &lt;span class="required"&gt;(Required)&lt;/span&gt;&lt;/span&gt;
    &lt;input class="input__control" type="text" id="example7" required&gt;
    &lt;span class="message-error"&gt;Error Message&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <h4>Disabled input</h4>
          <div class="example">
            <div class="input input--disabled">
              <label class="input__label" for="example8">
                <span class="input__content">Label for input</span>
                <input class="input__control" type="text" id="example8" disabled>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="input input--disabled"&gt;
  &lt;label class="input__label" for="example8"&gt;
    &lt;span class="input__content"&gt;Label for input&lt;/span&gt;
    &lt;input class="input__control" type="text" id="example8" disabled aria-disabled="true"&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/prism.js"></script>
</body>
</html>
