<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>Button - Simplex Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../favicon.ico">
  <meta name="Description" lang="en" content="Button component usage and examples">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">

  <!-- CSS links -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Header Javascript links -->
  <script src="../assets/js/responsive-nav.js"></script>
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- skip to content link -->
  <div class="skip-link">
    <a href="#content">Skip to content (Press enter)</a>
  </div>

  <!-- header row -->
  <div class="header">
    <div class="header__container">
      <div class="header__title">
        Simplex
      </div>
      <nav class="header__nav">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../elements/index.html">Elements</a></li>
          <li><a href="../utilities/index.html">Utilities</a></li>
          <li><a class="current" href="index.html">Components</a></li>
          <li><a href="../grid/index.html">Grid</a></li>
          <li><a href="../examples/index.html">Examples</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- intro row -->
  <div class="bg-primary u-row-pad-4 simplex-banner">
    <div class="content-container" id="content">
      <h1 class="c-white u-mar-y-0">Components</h1>
    </div>
  </div>

  <!-- content row -->
  <div class="bg-white u-row-pad-3">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list--navigation">
            <li><a href="index.html">Introduction</a></li>
            <li><a href="link.html">Link</a></li>
            <li><a href="list.html">List</a></li>
            <li><a href="description-list.html">Description-list</a></li>
            <li><a href="table.html">Table</a></li>
            <li><b>Button</b></li>
            <li><a href="button-group.html">Button-group</a></li>
            <li><a href="message.html">Message</a></li>
            <li><a href="input.html">Input</a></li>
            <li><a href="select.html">Select</a></li>
            <li><a href="textarea.html">Textarea</a></li>
            <li><a href="checkbox.html">Checkbox</a></li>
            <li><a href="radio-group.html">Radio-group</a></li>
            <li><a href="segmented-control.html">Segmented-control</a></li>
            <li><a href="content-container.html">Content-container</a></li>
            <li><a href="form-container.html">Form-container</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="summary.html">Summary</a></li>
            <li><a href="skip-link.html">Skip-link</a></li>
            <li><a href="header.html">Header</a></li>
            <li><a href="footer.html">Footer</a></li>
            <li><a href="icons.html">Icons</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2 class="simplex-page-heading">Button</h2>
          <p>The <code>button</code> component represents a clickable button.</p>

          <h4>Overall usage</h4>
          <ul>
            <li>Used to trigger form submission or events (such as open/close,
            fired modals etc).</li>
            <li>Must not be used when the purpose is to send the user to a new
            URL. In these cases, the <a href="link.html"><code>button--link</code>
            component</a> must be used.</li>
            <li>The type must be set to <code>submit</code> when submitting a
            form. In all other cases the type should be set to <code>button</code>.</li>
          </ul>

          <h4>Accessibility</h4>
          <ul>
            <li>The content of the button should be meaningful. The purpose of
            the button can be determined from the button text alone.</li>
            <li>The static, focus, hover and active states of the button should
            be defined</li>
            <li>There must be a clearly visible focus state, and the focus
            method should be consistent across all focusable elements.</li>
          </ul>
          <hr class="simplex-hr">

          <h4>.button--primary</h4>
          <p>Used for the main action on a page.</p>
          <div class="simplex-example">
            <button type="button" class="button--primary">button--primary</button>
            <button type="button" class="button--primary" disabled>button--primary</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button--primary"&gt;button--primary&lt;/button&gt;
&lt;button type="button" class="button--primary" disabled&gt;button--primary&lt;/button&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>.button--secondary</h4>
          <p>Used for supporting actions on a page.</p>
          <div class="simplex-example">
            <button type="button" class="button--secondary">button--secondary</button>
            <button type="button" class="button--secondary" disabled>button--secondary</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button--secondary"&gt;button--secondary&lt;/button&gt;
&lt;button type="button" class="button--secondary" disabled&gt;button--secondary&lt;/button&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>.button--link</h4>
          <p>Used for buttons that need to appear like a link</p>
          <div class="simplex-example">
            <button type="button" class="button--link">button--link</button>
            <button type="button" class="button--link" disabled>button--link</button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button--link"&gt;button--link&lt;/button&gt;
&lt;button type="button" class="button--link" disabled&gt;button--link&lt;/button&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>.button-small</h4>
          <p>Used for buttons that contain icons only. Must be used in
          conjunction with one of three different button variatons, primary,
          secondary or link. As there is no supporting text for these icons,
          hidden text must be provided for screen readers</p>
          <div class="simplex-example">
            <button type="button" class="button--primary button-small">
              <span class="fas fa-times" aria-hidden="true">
                <span class="u-hidden">Close</span>
              </span>
            </button>
            <button type="button" class="button--secondary button-small">
              <span class="fas fa-plus" aria-hidden="true">
                <span class="u-hidden">Open</span>
              </span>
            </button>
            <button type="button" class="button--link button-small">
              <span class="fas fa-chevron-right" aria-hidden="true">
                <span class="u-hidden">Right</span>
              </span>
            </button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button--primary button-small"&gt;
  &lt;span class="fas fa-times" aria-hidden="true"&gt;
    &lt;span class="u-hidden"&gt;Close&lt;/span&gt;
  &lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="button--secondary button-small"&gt;
  &lt;span class="fas fa-plus" aria-hidden="true"&gt;
    &lt;span class="u-hidden"&gt;Open&lt;/span&gt;
  &lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="button--link button-small"&gt;
  &lt;span class="fas fa-chevron-right" aria-hidden="true"&gt;
    &lt;span class="u-hidden"&gt;Right&lt;/span&gt;
  &lt;/span&gt;
&lt;/button&gt;
</code></pre>
        </div>
      </div>
    </div>
  </div>

  <!-- footer row -->
  <div class="footer u-row-pad-2">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer__content">
            Copyright &copy; 2019 Max Design
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer__content-right">
            <a href="https://github.com/russmaxdesign/simplex">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/prism.js"></script>
  <script>
    var navigation = responsiveNav(".header__nav", {
      animate: true,                    // Boolean: Use CSS3 transitions, true or false
      transition: 284,                  // Integer: Speed of the transition, in milliseconds
      label: "Menu",                    // String: Label for the navigation toggle
      insert: "before",                  // String: Insert the toggle before or after the navigation
      customToggle: "",                 // Selector: Specify the ID of a custom toggle
      closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
      openPos: "relative",              // String: Position of the opened nav, relative or static
      navClass: "header__nav",         // String: Default CSS class. If changed, you need to edit the CSS too!
      navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
      jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
      init: function(){},               // Function: Init callback
      open: function(){},               // Function: Open callback
      close: function(){}               // Function: Close callback
    });
  </script>
</body>
</html>
