<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>Footer - Simplex Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../favicon.ico">
  <meta name="Description" lang="en" content="Footer component usage and examples">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">

  <!-- CSS links -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Header Javascript links -->
  <script src="../assets/js/responsive-nav.js"></script>
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- skip to content link -->
  <div class="skip-link">
    <a href="#content">Skip to content (Press enter)</a>
  </div>

  <!-- header row -->
  <div class="header">
    <div class="header__container">
      <div class="header__title">
        Simplex
      </div>
      <nav class="header__nav">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../elements/index.html">Elements</a></li>
          <li><a href="../utilities/index.html">Utilities</a></li>
          <li><a class="current" href="index.html">Components</a></li>
          <li><a href="../grid/index.html">Grid</a></li>
          <li><a href="../examples/index.html">Examples</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- intro row -->
  <div class="bg-primary u-row-pad4 simplex-banner">
    <div class="content-container" id="content">
      <h1 class="c-white u-mar-y--0">Components</h1>
    </div>
  </div>

  <!-- content row -->
  <div class="bg-white u-row-pad3">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list--navigation">
            <li><a href="index.html">Introduction</a></li>
            <li><a href="link.html">Link</a></li>
            <li><a href="list.html">List</a></li>
            <li><a href="description-list.html">Description-list</a></li>
            <li><a href="table.html">Table</a></li>
            <li><a href="button.html">Button</a></li>
            <li><a href="button-group.html">Button-group</a></li>
            <li><a href="message.html">Message</a></li>
            <li><a href="input.html">Input</a></li>
            <li><a href="select.html">Select</a></li>
            <li><a href="textarea.html">Textarea</a></li>
            <li><a href="checkbox.html">Checkbox</a></li>
            <li><a href="radio-group.html">Radio-group</a></li>
            <li><a href="segmented-control.html">Segmented-control</a></li>
            <li><a href="content-container.html">Content-container</a></li>
            <li><a href="form-container.html">Form-container</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="summary.html">Summary</a></li>
            <li><a href="skip-link.html">Skip-link</a></li>
            <li><a href="header.html">Header</a></li>
            <li><b>Footer</b></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2 class="simplex-page-heading">Footer</h2>
          <p>Used to create a site footer.</p>

          <h4>Overall usage</h4>
          <p>Used as the last main component of the website.</p>

          <h4>Accessibility</h4>
          <p>N/A</p>
          <hr class="simplex-hr">

          <h4>.footer</h4>
          <div class="simplex-example">
            <div class="footer u-row-pad2">
              <div class="content-container">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="footer__content">
                      Left-aligned text <span class="footer__divider">|</span> <a href="#">Link</a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="footer__content-right">
                      Right-aligned text
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="footer u-row-pad2"&gt;
  &lt;div class="content-container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-sm-6"&gt;
        &lt;div class="footer__content"&gt;
          Left-aligned text &lt;span class="footer__divider"&gt;|&lt;/span&gt; &lt;a href="#"&gt;Link&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-sm-6"&gt;
        &lt;div class="footer__content-right"&gt;
          Right-aligned text
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
        </div>
      </div>
    </div>
  </div>

  <!-- footer row -->
  <div class="footer u-row-pad2">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer__content">
            Copyright &copy; 2019 Max Design
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer__content-right">
            <a href="https://github.com/russmaxdesign/simplex">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/prism.js"></script>
  <script>
    var navigation = responsiveNav(".header__nav", {
      animate: true,                    // Boolean: Use CSS3 transitions, true or false
      transition: 284,                  // Integer: Speed of the transition, in milliseconds
      label: "Menu",                    // String: Label for the navigation toggle
      insert: "before",                  // String: Insert the toggle before or after the navigation
      customToggle: "",                 // Selector: Specify the ID of a custom toggle
      closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
      openPos: "relative",              // String: Position of the opened nav, relative or static
      navClass: "header__nav",         // String: Default CSS class. If changed, you need to edit the CSS too!
      navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
      jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
      init: function(){},               // Function: Init callback
      open: function(){},               // Function: Open callback
      close: function(){}               // Function: Close callback
    });
  </script>
</body>
</html>
