<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>Icons - Simplex Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../favicon.ico">
  <meta name="Description" lang="en" content="Icons used by the Simplex Component Library">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">

  <!-- CSS links -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Header Javascript links -->
  <script src="../assets/js/responsive-nav.js"></script>
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- skip to content link -->
  <div class="skip-link">
    <a href="#content">Skip to content (Press enter)</a>
  </div>

  <!-- header row -->
  <div class="header">
    <div class="header__container">
      <div class="header__title">
        Simplex
      </div>
      <nav class="header__nav">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../elements/index.html">Elements</a></li>
          <li><a href="../utilities/index.html">Utilities</a></li>
          <li><a class="current" href="index.html">Components</a></li>
          <li><a href="../grid/index.html">Grid</a></li>
          <li><a href="../examples/index.html">Examples</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- intro row -->
  <div class="bg-primary u-row-pad-4 simplex-banner">
    <div class="content-container" id="content">
      <h1 class="c-white u-mar-y-0">Components</h1>
    </div>
  </div>

  <!-- content row -->
  <div class="bg-white u-row-pad-3">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list--navigation">
            <li><a href="index.html">Introduction</a></li>
            <li><a href="link.html">Link</a></li>
            <li><a href="list.html">List</a></li>
            <li><a href="description-list.html">Description-list</a></li>
            <li><a href="table.html">Table</a></li>
            <li><a href="button.html">Button</a></li>
            <li><a href="button-group.html">Button-group</a></li>
            <li><a href="message.html">Message</a></li>
            <li><a href="input.html">Input</a></li>
            <li><a href="select.html">Select</a></li>
            <li><a href="textarea.html">Textarea</a></li>
            <li><a href="checkbox.html">Checkbox</a></li>
            <li><a href="radio-group.html">Radio-group</a></li>
            <li><a href="segmented-control.html">Segmented-control</a></li>
            <li><a href="content-container.html">Content-container</a></li>
            <li><a href="form-container.html">Form-container</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="summary.html">Summary</a></li>
            <li><a href="skip-link.html">Skip-link</a></li>
            <li><a href="header.html">Header</a></li>
            <li><a href="footer.html">Footer</a></li>
            <li><b>Icons</b></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2 class="simplex-page-heading">Icons</h2>
          <p>Simplex includes all
          <a href="https://fontawesome.com/">Font Awesome icons</a>.</p>
          <h4>Overall usage</h4>
          <p>Used to add icons to static content, lists and buttons.</p>
          <h4>Accessibility</h4>
          <ul>
            <li>The <code>&lt;span&gt;</code> element should be used for the
            icons as this element is a generic inline element.</li>
            <li>If the icon is decorative, <code>aria-hidden="true"</code>
            should be included.</li>
            <li>If the icon adds meaning to the content, additional information
            should be included for screen readers using the <code>hidden</code>
            class.</li>
          </ul>
          <hr class="simplex-hr">

          <h4>Decorative icons</h4>
          <p>Icons that are purely decorative should be hidden from screen
          readers to avoid verbal clutter. This is achieved using the
          <code>aria-hidden</code> attribute.</p>
          <div class="u-mar-b-h">
            <div class="simplex-example-small">
              <span class="fas fa-chevron-left" aria-hidden="true"></span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-chevron-right" aria-hidden="true"></span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-times" aria-hidden="true"></span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-plus" aria-hidden="true"></span>
            </div>
          </div>
<pre><code class="language-html">&lt;span class="fas fa-chevron-left" aria-hidden="true"&gt;&lt;/span&gt;
&lt;span class="fas fa-chevron-right" aria-hidden="true"&gt;&lt;/span&gt;
&lt;span class="fas fa-times" aria-hidden="true"&gt;&lt;/span&gt;
&lt;span class="fas fa-plus" aria-hidden="true"&gt;&lt;/span&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>Non-decorative icons</h4>
          <p>Icons that convey important information should contain a
          description for screen readers. This is achieved using hidden
          content.</p>
          <div class="u-mar-b-h">
            <div class="simplex-example-small">
              <span class="fas fa-chevron-left">
                <span class="u-hidden">Left</span>
              </span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-chevron-right">
                <span class="u-hidden">Right</span>
              </span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-times">
                <span class="u-hidden">Close</span>
              </span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-plus">
                <span class="u-hidden">Open</span>
              </span>
            </div>
          </div>
<pre><code class="language-html">&lt;span class="fas fa-chevron-left"&gt;
  &lt;span class="u-hidden"&gt;Left&lt;/span&gt;
&lt;/span&gt;

&lt;span class="fas fa-chevron-right"&gt;
  &lt;span class="u-hidden"&gt;Right&lt;/span&gt;
&lt;/span&gt;

&lt;span class="fas fa-times"&gt;
  &lt;span class="u-hidden"&gt;Close&lt;/span&gt;
&lt;/span&gt;

&lt;span class="fas fa-plus"&gt;
  &lt;span class="u-hidden"&gt;Open&lt;/span&gt;
&lt;/span&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>Adding color</h4>
          <p>Color can be added to any static icon using color utility
          classes.</p>
          <div class="u-mar-b-h">
            <div class="simplex-example-small">
              <span class="fas fa-chevron-left c-primary"></span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-chevron-right c-gray-40"></span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-times c-red"></span>
            </div>
            <div class="simplex-example-small">
              <span class="fas fa-plus c-green"></span>
            </div>
          </div>
<pre><code class="language-html">&lt;span class="fas fa-chevron-left c-primary"&gt;&lt;/span&gt;
&lt;span class="fas fa-chevron-right c-gray-40"&gt;&lt;/span&gt;
&lt;span class="fas fa-times c-red"&gt;&lt;/span&gt;
&lt;span class="fas fa-plus c-green"&gt;&lt;/span&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>Adding icons to buttons</h4>
          <p>The <code>.button--icon-left</code> needs to be added beside the
          Font-awesome icon class. This shifts the icons slighty to the left.</p>
          <div class="simplex-example">
            <button type="button" class="button--primary">
              <span class="fas fa-chevron-left button--icon-left" aria-hidden="true"></span>
              Back
            </button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button--primary"&gt;
  &lt;span class="fas fa-chevron-left button--icon-left" aria-hidden="true"&gt;&lt;/span&gt;
  Back
&lt;/button&gt;
</code></pre>

          <p>The <code>.button--icon-right</code> needs to be added beside the
          Font-awesome icon class. This shifts the icons slighty to the right.</p>
          <div class="simplex-example">
            <button type="button" class="button--primary">
              Forward
              <span class="fas fa-chevron-right button--icon-right" aria-hidden="true"></span>
            </button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button--primary"&gt;
  Forward
  &lt;span class="fas fa-chevron-right button--icon-right" aria-hidden="true"&gt;&lt;/span&gt;
&lt;/button&gt;
</code></pre>

          <p>Icons can be used inside small buttons. As there is no supporting
          text for these icons, hidden text must be provided for screen readers</p>
          <div class="simplex-example">
            <button type="button" class="button--primary button-small">
              <span class="fas fa-times" aria-hidden="true">
                <span class="u-hidden">Close</span>
              </span>
            </button>
            <button type="button" class="button--secondary button-small">
              <span class="fas fa-plus" aria-hidden="true">
                <span class="u-hidden">Open</span>
              </span>
            </button>
            <button type="button" class="button--link button-small">
              <span class="fas fa-chevron-right" aria-hidden="true">
                <span class="u-hidden">Right</span>
              </span>
            </button>
          </div>
<pre><code class="language-html">&lt;button type="button" class="button--primary button-small"&gt;
  &lt;span class="fas fa-times" aria-hidden="true"&gt;
    &lt;span class="u-hidden"&gt;Close&lt;/span&gt;
  &lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="button--secondary button-small"&gt;
  &lt;span class="fas fa-plus" aria-hidden="true"&gt;
    &lt;span class="u-hidden"&gt;Open&lt;/span&gt;
  &lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="button--link button-small"&gt;
  &lt;span class="fas fa-chevron-right" aria-hidden="true"&gt;
    &lt;span class="u-hidden"&gt;Right&lt;/span&gt;
  &lt;/span&gt;
&lt;/button&gt;
</code></pre>
        </div>
      </div>
    </div>
  </div>

  <!-- footer row -->
  <div class="footer u-row-pad-2">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer__content">
            Copyright &copy; 2019 Max Design
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer__content-right">
            <a href="https://github.com/russmaxdesign/simplex">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/prism.js"></script>
  <script>
    var navigation = responsiveNav(".header__nav", {
      animate: true,                    // Boolean: Use CSS3 transitions, true or false
      transition: 284,                  // Integer: Speed of the transition, in milliseconds
      label: "Menu",                    // String: Label for the navigation toggle
      insert: "before",                  // String: Insert the toggle before or after the navigation
      customToggle: "",                 // Selector: Specify the ID of a custom toggle
      closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
      openPos: "relative",              // String: Position of the opened nav, relative or static
      navClass: "header__nav",         // String: Default CSS class. If changed, you need to edit the CSS too!
      navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
      jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
      init: function(){},               // Function: Init callback
      open: function(){},               // Function: Open callback
      close: function(){}               // Function: Close callback
    });
  </script>
</body>
</html>
