<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>What are components? - Simplex Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="Description" lang="en" content="What are Simplex components?">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- CSS links -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="../assets/css/styles.css">

  <!-- Header Javascript links -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- skip to content link -->
  <div class="skip-link">
    <a href="#content">Skip to content (Press enter)</a>
  </div>

  <!-- header row -->
  <div class="pad-y-1 bg-gray10">
    <div class="content-container">
      <ul class="list-inline-pipe simplex-nav">
        <li><a href="../index.html">Simplex</a></li>
        <li><a href="../elements/index.html">Elements</a></li>
        <li><a href="../utilities/index.html">Utility classes</a></li>
        <li><a class="current" href="index.html">Components</a></li>
        <li><a href="../grid/index.html">Grid</a></li>
        <li><a href="../examples/index.html">Examples</a></li>
        <li><a href="https://github.com/russmaxdesign/simplex">Github</a></li>
      </ul>
    </div>
  </div>

  <!-- intro row -->
  <div class="bg-primary pad-y-3">
    <div class="content-container" id="content">
      <h1 class="c-white mar-y-0">Components</h1>
    </div>
  </div>

  <!-- content row -->
  <div class="pad-y-3 bg-white">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list-sidebar">
            <li><b>Introduction</b></li>
            <li><a href="01-button.html">button</a></li>
            <li><a href="02-link-button.html">link-button</a></li>
            <li><a href="03-input.html">Input</a></li>
            <li><a href="04-checkbox.html">checkbox</a></li>
            <li><a href="05-radiogroup.html">radiogroup</a></li>
            <li><a href="06-select.html">select</a></li>
            <li><a href="07-textarea.html">textarea</a></li>
            <li><a href="08-content-container.html">content-container</a></li>
            <li><a href="09-form-container.html">form-container</a></li>
            <li><a href="10-lists.html">list</a></li>
            <li><a href="11-table.html">table</a></li>
            <li><a href="12-media.html">media</a></li>
            <li><a href="13-flag.html">flag</a></li>
            <li><a href="14-skip-link.html">skip-link</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2 class="mar-t-0">What are components?</h2>
          <p>Components consist of one or more HTML elements that have been grouped together to serve a single purpose. Components:</p>
          <ul>
            <li>should be location agnostic</li>
            <li>should be width and height agnostic</li>
            <li>should use well-formed, valid and semantic HTML</li>
            <li>should comply with WCAG 2.1 Level AA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/prism.js"></script>
</body>
</html>
