<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>Select - Simplex Component Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../favicon.ico">
  <meta name="Description" lang="en" content="Select component usage and examples">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">

  <!-- CSS links -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Header Javascript links -->
  <script src="../assets/js/responsive-nav.js"></script>
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- skip to content link -->
  <div class="skip-link">
    <a href="#content">Skip to content (Press enter)</a>
  </div>

  <!-- header row -->
  <div class="header">
    <div class="header__container">
      <div class="header__title">
        Simplex
      </div>
      <nav class="header__nav">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../elements/index.html">Elements</a></li>
          <li><a href="../utilities/index.html">Utilities</a></li>
          <li><a class="current" href="index.html">Components</a></li>
          <li><a href="../grid/index.html">Grid</a></li>
          <li><a href="../icons/index.html">Icons</a></li>
          <li><a href="../examples/index.html">Examples</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- intro row -->
  <div class="bg-primary u-row-pad-4 simplex-banner">
    <div class="content-container" id="content">
      <h1 class="c-white u-mar-y--0">Components</h1>
    </div>
  </div>

  <!-- content row -->
  <div class="bg-white u-row-pad-3">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list--navigation">
            <li><a href="index.html">Introduction</a></li>
            <li><a href="link.html">Link</a></li>
            <li><a href="list.html">List</a></li>
            <li><a href="description-list.html">Description-list</a></li>
            <li><a href="table.html">Table</a></li>
            <li><a href="button.html">Button</a></li>
            <li><a href="button-group.html">Button-group</a></li>
            <li><a href="message.html">Message</a></li>
            <li><a href="input.html">Input</a></li>
            <li><b>Select</b></li>
            <li><a href="textarea.html">Textarea</a></li>
            <li><a href="checkbox.html">Checkbox</a></li>
            <li><a href="radio-group.html">Radio-group</a></li>
            <li><a href="segmented-control.html">Segmented-control</a></li>
            <li><a href="content-container.html">Content-container</a></li>
            <li><a href="form-container.html">Form-container</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="summary.html">Summary</a></li>
            <li><a href="skip-link.html">Skip-link</a></li>
            <li><a href="header.html">Header</a></li>
            <li><a href="footer.html">Footer</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2 class="simplex-page-heading">Select</h2>
          <p>The <code>select</code> component represents an
          <code>&lt;select&gt;</code> element with an explicitly associated
          <code>&lt;label&gt;</code> element. The component also supports
          additional information and/or error messages associated with the
          form control.</p>

          <h4>Overall usage</h4>
          <p>Used to present a series of options presented as a dropdown menu.</p>

          <h4>Accessibility</h4>
          <ul>
            <li>The <code>&lt;label&gt;</code> element should only be hidden in
            cases where there is no other choices available, and only when the
            form is extremely simple and its purpose is clear to sighted users.</li>
            <li>For required fields, the <code>required</code> and
            <code>aria-required="true"</code> attributes must also be applied to
            the <code>&lt;select&gt;</code> element to inform Assistive Technologies.</li>
            <li>The static, focus and hover states of the
            <code>&lt;select&gt;</code> element should be defined</li>
            <li>There must be a clearly visible focus state, and the method
            should be consistent across all focusable elements.</li>
          </ul>
          <hr class="simplex-hr">

          <h4>.select</h4>
          <p>Used to display a <code>&lt;select&gt;</code> form control and an
          explicitly associated <code>&lt;label&gt;</code>.</p>
          <div class="simplex-example">
            <div class="select">
              <label class="select__label" for="example1">
                <span class="select__content">Label for select</span>
                <select class="select__control" id="example1">
                  <option value="">Choose an option</option>
                  <option value="one">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="select"&gt;
  &lt;label class="select__label" for="example1"&gt;
    &lt;span class="select__content"&gt;Label for select&lt;/span&gt;
    &lt;select class="select__control" id="example1"&gt;
      &lt;option value=""&gt;Choose an option&lt;/option&gt;
      &lt;option value="one"&gt;one&lt;/option&gt;
      &lt;option value="two"&gt;two&lt;/option&gt;
      &lt;option value="three"&gt;three&lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <p>A help mesage can be placed directly after the
          <code>&lt;label&gt;</code> element using the <code>message--help</code>
          class.</p>
          <div class="simplex-example">
            <div class="select">
              <label class="select__label" for="example3">
                <span class="select__content">Label for select</span>
                <span class="message--help">Help Message</span>
                <select class="select__control" id="example3">
                  <option value="">Choose an option</option>
                  <option value="one">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="select"&gt;
  &lt;label class="select__label" for="example3"&gt;
    &lt;span class="select__content"&gt;Label for select&lt;/span&gt;
    &lt;span class="message--help"&gt;Help Message&lt;/span&gt;
    &lt;select class="select__control" id="example3"&gt;
      &lt;option value=""&gt;Choose an option&lt;/option&gt;
      &lt;option value="one"&gt;one&lt;/option&gt;
      &lt;option value="two"&gt;two&lt;/option&gt;
      &lt;option value="three"&gt;three&lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>

          <p>A required flag can be placed inside the
          <code>&lt;label&gt;</code> element using the <code>message--required</code>
          class. The <code>required</code> boolean attribute must be added to
          the <code>&lt;select&gt;</code>.</p>
          <div class="simplex-example">
            <div class="select">
              <label class="select__label" for="example4">
                <span class="select__content">Label for select <span class="message--required">(Required)</span></span>
                <select class="select__control" id="example4" required>
                  <option value="">Choose an option</option>
                  <option value="one">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="select"&gt;
  &lt;label class="select__label" for="example4"&gt;
    &lt;span class="select__content"&gt;Label for select &lt;span class="message--required"&gt;(Required)&lt;/span&gt;&lt;/span&gt;
    &lt;select class="select__control" id="example4" required&gt;
      &lt;option value=""&gt;Choose an option&lt;/option&gt;
      &lt;option value="one"&gt;one&lt;/option&gt;
      &lt;option value="two"&gt;two&lt;/option&gt;
      &lt;option value="three"&gt;three&lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>.select--hidden</h4>
          <p>Used to display an <code>&lt;select&gt;</code> form control and an
          explicitly associated <code>&lt;label&gt;</code>. The
          <code>&lt;label&gt;</code> is not displayed on-screen, but is still
          available to assistive technologies.</p>
          <div class="simplex-example">
            <div class="select select--hidden">
              <label class="select__label" for="example2">
                <span class="select__content">Label for select</span>
                <select class="select__control" id="example2">
                  <option value="">Choose an option</option>
                  <option value="one">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="select select--hidden"&gt;
  &lt;label class="select__label" for="example2"&gt;
    &lt;span class="select__content"&gt;Label for select&lt;/span&gt;
    &lt;select class="select__control" id="example2"&gt;
      &lt;option value=""&gt;Choose an option&lt;/option&gt;
      &lt;option value="one"&gt;one&lt;/option&gt;
      &lt;option value="two"&gt;two&lt;/option&gt;
      &lt;option value="three"&gt;three&lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>.select--invalid</h4>
          <p>Used to inform the user that the form control has not been filled-in
          correctly.</p>
          <div class="simplex-example">
            <div class="select select--invalid">
              <label class="select__label" for="example5">
                <span class="select__content">Label for select <span class="message--required">(Required)</span></span>
                <select class="select__control" id="example5">
                  <option value="">Choose an option</option>
                  <option value="one">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
                <span class="message--error">
                  <span class="fas fa-times">
                    <span class="u-hidden">Error</span>
                  </span>
                  Error message
                </span>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="select select--invalid"&gt;
  &lt;label class="select__label" for="example5"&gt;
    &lt;span class="select__content"&gt;Label for select &lt;span class="message--required"&gt;(Required)&lt;/span&gt;&lt;/span&gt;
    &lt;select class="select__control" id="example5"&gt;
      &lt;option value=""&gt;Choose an option&lt;/option&gt;
      &lt;option value="one"&gt;one&lt;/option&gt;
      &lt;option value="two"&gt;two&lt;/option&gt;
      &lt;option value="three"&gt;three&lt;/option&gt;
    &lt;/select&gt;
    &lt;!-- Error message --&gt;
    &lt;span class="message--error"&gt;
      &lt;span class="fas fa-times"&gt;
        &lt;span class="u-hidden"&gt;Error&lt;/span&gt;
      &lt;/span&gt;
      Error message
    &lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>
          <hr class="simplex-hr">

          <h4>.select--disabled</h4>
          <p>Used to present a disabled <code>&lt;select&gt;</code> element and
          label. The <code>disabled</code> boolean attribute must be added to
          the <code>&lt;select&gt;</code>.</p>
          <div class="simplex-example">
            <div class="select select--disabled">
              <label class="select__label" for="example6">
                <span class="select__content">Label for select</span>
                <select class="select__control" id="example6" disabled>
                  <option value="">Choose an option</option>
                  <option value="one">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
          </div>
<pre><code class="language-html">&lt;div class="select select--disabled"&gt;
  &lt;label class="select__label" for="example6"&gt;
    &lt;span class="select__content"&gt;Label for select&lt;/span&gt;
    &lt;select class="select__control" id="example6" disabled&gt;
      &lt;option value="one"&gt;one&lt;/option&gt;
      &lt;option value="two"&gt;two&lt;/option&gt;
      &lt;option value="three"&gt;three&lt;/option&gt;
    &lt;/select&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>
        </div>
      </div>
    </div>
  </div>

  <!-- footer row -->
  <div class="footer u-row-pad-2">
    <div class="content-container">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer__content">
            Copyright &copy; 2019 Max Design
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer__content-right">
            <a href="https://github.com/russmaxdesign/simplex">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/prism.js"></script>
  <script>
    var navigation = responsiveNav(".header__nav", {
      animate: true,                    // Boolean: Use CSS3 transitions, true or false
      transition: 284,                  // Integer: Speed of the transition, in milliseconds
      label: "Menu",                    // String: Label for the navigation toggle
      insert: "before",                  // String: Insert the toggle before or after the navigation
      customToggle: "",                 // Selector: Specify the ID of a custom toggle
      closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
      openPos: "relative",              // String: Position of the opened nav, relative or static
      navClass: "header__nav",         // String: Default CSS class. If changed, you need to edit the CSS too!
      navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
      jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
      init: function(){},               // Function: Init callback
      open: function(){},               // Function: Open callback
      close: function(){}               // Function: Close callback
    });
  </script>
</body>
</html>

