.vertical-container-lg,
.vertical-container-md,
.vertical-container-sm,
.vertical-container-xs {
  @include clearfix;
}

.vertical-container-lg {
  margin-bottom: 3em
}

.vertical-container-md {
  margin-bottom: 2em
}

.vertical-container-sm {
  margin-bottom: 1em
}

.vertical-container-xs {
  margin-bottom: .5em
}
