a:link {
  color: $link-color;
}

a:visited {
  color: $link-color-visited;
}

a:focus {
  outline: 0;
  color: $white;
  background: $black;
}

a:hover {
  outline: none;
  color: $link-color-hover;
  background: none;
}

a:active {
  outline: none;
  color: $white;
  background: $link-color-active;
}
