a:link {
  color: $link-color;
}

a:visited {
  color: $link-color-visited;
}

a:focus {
  outline: 0;
  color: $focus-color;
  background: $focus-background;
}

a:hover {
  outline: none;
  color: $link-color-hover;
  background: $hover-background;
}

a:active {
  outline: none;
  color: $active-color;
  background: $active-background;
}
