html {
  overflow-y: scroll;
  box-sizing: border-box;
  min-height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

/**
 *
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}
