p {
  margin: 0 0 1.5em;
  line-height: $base-line-height;
}


// sm

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  p {
    line-height: $line-height-sm;
  }
}


// md

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  p {
    line-height: $line-height-md;
  }
}


// lg

@media (min-width: $screen-lg-min) {
  p {
    line-height: $line-height-lg;
  }
}
