table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  padding: 0 0 .5em;
  font-weight: bold;
  text-align: left;
}

th,
td {
  border-top: 1px solid $gray15;
  border-bottom: 1px solid $gray15;
  padding: .5em 1em;
  text-align: left;
  vertical-align: top;
}

th {
  border-top: 0;
  border-bottom: 2px solid $gray15;
  font-weight: bold;
}
