// buttons

$button-font-family:                     $base-font-family;
$button-border-width:                    $input-border-width;
$button-padding:                         .5em 1.5em;
$button-padding-small:                   .4em .5em;
$button-height:                          $input-height;
$button-height-small:                    auto;
$button-line-height:                     1;


// primary button

$button--primary-color:                  $white;
$button--primary-background:             $link-color;
$button--primary-border:                 $link-color;
$button--primary-focus-color:            $focus-color;
$button--primary-focus-background:       $focus-background;
$button--primary-focus-border:           $focus-border;
$button--primary-hover-color:            $white;
$button--primary-hover-background:       $link-color-hover;
$button--primary-hover-border:           $link-color-hover;
$button--primary-active-color:           $active-color;
$button--primary-active-background:      $active-background;
$button--primary-active-border:          $active-border;


// secondary button

$button--secondary-color:                $link-color;
$button--secondary-background:           $white;
$button--secondary-border:               $link-color;
$button--secondary-focus-color:          $focus-color;
$button--secondary-focus-background:     $focus-background;
$button--secondary-focus-border:         $focus-border;
$button--secondary-hover-color:          $link-color-hover;
$button--secondary-hover-background:     $hover-background;
$button--secondary-hover-border:         $link-color-hover;
$button--secondary-active-color:         $active-color;
$button--secondary-active-background:    $active-background;
$button--secondary-active-border:        $active-border;


// link button

$button--link-color:                     $link-color;
$button--link-background:                transparent;
$button--link-border:                    transparent;
$button--link-focus-color:               $focus-color;
$button--link-focus-background:          $focus-background;
$button--link-focus-border:              $focus-border;
$button--link-hover-color:               $link-color-hover;
$button--link-hover-background:          $hover-background;
$button--link-hover-border:              transparent;
$button--link-active-color:              $active-color;
$button--link-active-background:         $active-background;
$button--link-active-border:             $active-border;
