// font variables

$font50:                  $base-font-size * 3.125;
$font48:                  $base-font-size * 3;
$font46:                  $base-font-size * 2.875;
$font44:                  $base-font-size * 2.75;
$font42:                  $base-font-size * 2.625;
$font40:                  $base-font-size * 2.5;
$font38:                  $base-font-size * 2.375;
$font36:                  $base-font-size * 2.25;
$font34:                  $base-font-size * 2.125;
$font32:                  $base-font-size * 2;
$font30:                  $base-font-size * 1.875;
$font28:                  $base-font-size * 1.75;
$font26:                  $base-font-size * 1.625;
$font24:                  $base-font-size * 1.5;
$font22:                  $base-font-size * 1.375;
$font20:                  $base-font-size * 1.25;
$font18:                  $base-font-size * 1.125;
$font16:                  $base-font-size;
$font14:                  $base-font-size * .875;
$font12:                  $base-font-size * .75;
$font10:                  $base-font-size * .625;


// headings

$heading1-margin:         0 0 .5em;
$heading2-margin:         1em 0 .5em;
$heading3-margin:         1.5em 0 .5em;
$heading4-margin:         1.5em 0 .5em;
$heading5-margin:         1.5em 0 .5em;
$heading6-margin:         1.5em 0 .5em;

$heading1-size:           $font26;
$heading2-size:           $font20;
$heading3-size:           $font16;
$heading4-size:           $font16;
$heading5-size:           $font12;
$heading6-size:           $font10;

$heading1-size-sm:        $font30;
$heading2-size-sm:        $font22;
$heading3-size-sm:        $font18;
$heading4-size-sm:        $font14;
$heading5-size-sm:        $font12;
$heading6-size-sm:        $font10;

$heading1-size-md:        $font34;
$heading2-size-md:        $font24;
$heading3-size-md:        $font20;
$heading4-size-md:        $font16;
$heading5-size-md:        $font12;
$heading6-size-md:        $font10;

$heading1-size-lg:        $font36;
$heading2-size-lg:        $font26;
$heading3-size-lg:        $font22;
$heading4-size-lg:        $font18;
$heading5-size-lg:        $font14;
$heading6-size-lg:        $font12;
