// grids

$grid-width:                 8.333333%;


// gutters and padding

$col-padding-xs:             $col-gutter-xs / 2;
$row-margin-xs:              $col-padding-xs;
$page-gutter-xs:             $col-gutter-xs;

$col-padding-sm:             $col-gutter-sm / 2;
$row-margin-sm:              $col-padding-sm;
$page-gutter-sm:             $col-gutter-sm;

$col-padding-md:             $col-gutter-md / 2;
$row-margin-md:              $col-padding-md;
$page-gutter-md:             $col-gutter-md;

$col-padding-lg:             $col-gutter-lg / 2;
$row-margin-lg:              $col-padding-lg;
$page-gutter-lg:             $col-gutter-lg;


// sizes

$screen-sm:                  600px;
$screen-md:                  900px;
$screen-lg:                  1200px;


// min sizes

$screen-sm-min:              $screen-sm; // 600px
$screen-md-min:              $screen-md; // 900px
$screen-lg-min:              $screen-lg; // 1200px


// max sizes

$screen-xs-max:              ($screen-sm-min - 1); // 599px
$screen-sm-max:              ($screen-md-min - 1); // 899px
$screen-md-max:              ($screen-lg-min - 1); // 1199px


// xs small only
// @media (max-width: $screen-xs-max) {}

// sm only
// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}

// sm and up
// @media (min-width: $screen-sm-min) {}

// md only
// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}

// md and up
// @media (min-width: $screen-md-min) {}

// lg and up
// @media (min-width: $screen-lg-min) {}
