// border utilities

// no border

.u-bor-0 { border: none; }


// border all sides

.u-bor-a-primary { border: 1px solid $primary-color; }
.u-bor-a-secondary { border: 1px solid $secondary-color; }
.u-bor-a-red { border: 1px solid $red; }
.u-bor-a-green { border: 1px solid $green; }
.u-bor-a-gray-90 { border: 1px solid $gray90; }
.u-bor-a-gray-85 { border: 1px solid $gray85; }
.u-bor-a-gray-80 { border: 1px solid $gray80; }
.u-bor-a-gray-75 { border: 1px solid $gray75; }
.u-bor-a-gray-70 { border: 1px solid $gray70; }
.u-bor-a-gray-65 { border: 1px solid $gray65; }
.u-bor-a-gray-60 { border: 1px solid $gray60; }
.u-bor-a-gray-55 { border: 1px solid $gray55; }
.u-bor-a-gray-50 { border: 1px solid $gray50; }
.u-bor-a-gray-45 { border: 1px solid $gray45; }
.u-bor-a-gray-40 { border: 1px solid $gray40; }
.u-bor-a-gray-35 { border: 1px solid $gray35; }
.u-bor-a-gray-30 { border: 1px solid $gray30; }
.u-bor-a-gray-25 { border: 1px solid $gray25; }
.u-bor-a-gray-20 { border: 1px solid $gray20; }
.u-bor-a-gray-15 { border: 1px solid $gray15; }
.u-bor-a-gray-10 { border: 1px solid $gray10; }
.u-bor-a-gray-5 { border: 1px solid $gray5; }


// border-top

.u-bor-t-primary { border-top: 1px solid $primary-color; }
.u-bor-t-secondary { border-top: 1px solid $secondary-color; }
.u-bor-t-red { border-top: 1px solid $red; }
.u-bor-t-green { border-top: 1px solid $green; }
.u-bor-t-gray-90 { border-top: 1px solid $gray90; }
.u-bor-t-gray-85 { border-top: 1px solid $gray85; }
.u-bor-t-gray-80 { border-top: 1px solid $gray80; }
.u-bor-t-gray-75 { border-top: 1px solid $gray75; }
.u-bor-t-gray-70 { border-top: 1px solid $gray70; }
.u-bor-t-gray-65 { border-top: 1px solid $gray65; }
.u-bor-t-gray-60 { border-top: 1px solid $gray60; }
.u-bor-t-gray-55 { border-top: 1px solid $gray55; }
.u-bor-t-gray-50 { border-top: 1px solid $gray50; }
.u-bor-t-gray-45 { border-top: 1px solid $gray45; }
.u-bor-t-gray-40 { border-top: 1px solid $gray40; }
.u-bor-t-gray-35 { border-top: 1px solid $gray35; }
.u-bor-t-gray-30 { border-top: 1px solid $gray30; }
.u-bor-t-gray-25 { border-top: 1px solid $gray25; }
.u-bor-t-gray-20 { border-top: 1px solid $gray20; }
.u-bor-t-gray-15 { border-top: 1px solid $gray15; }
.u-bor-t-gray-10 { border-top: 1px solid $gray10; }
.u-bor-t-gray-5 { border-top: 1px solid $gray5; }


// border-bottom

.u-bor-b-primary { border-bottom: 1px solid $primary-color; }
.u-bor-b-secondary { border-bottom: 1px solid $secondary-color; }
.u-bor-b-red { border-bottom: 1px solid $red; }
.u-bor-b-green { border-bottom: 1px solid $green; }
.u-bor-b-gray-90 { border-bottom: 1px solid $gray90; }
.u-bor-b-gray-85 { border-bottom: 1px solid $gray85; }
.u-bor-b-gray-80 { border-bottom: 1px solid $gray80; }
.u-bor-b-gray-75 { border-bottom: 1px solid $gray75; }
.u-bor-b-gray-70 { border-bottom: 1px solid $gray70; }
.u-bor-b-gray-65 { border-bottom: 1px solid $gray65; }
.u-bor-b-gray-60 { border-bottom: 1px solid $gray60; }
.u-bor-b-gray-55 { border-bottom: 1px solid $gray55; }
.u-bor-b-gray-50 { border-bottom: 1px solid $gray50; }
.u-bor-b-gray-45 { border-bottom: 1px solid $gray45; }
.u-bor-b-gray-40 { border-bottom: 1px solid $gray40; }
.u-bor-b-gray-35 { border-bottom: 1px solid $gray35; }
.u-bor-b-gray-30 { border-bottom: 1px solid $gray30; }
.u-bor-b-gray-25 { border-bottom: 1px solid $gray25; }
.u-bor-b-gray-20 { border-bottom: 1px solid $gray20; }
.u-bor-b-gray-15 { border-bottom: 1px solid $gray15; }
.u-bor-b-gray-10 { border-bottom: 1px solid $gray10; }
.u-bor-b-gray-5 { border-bottom: 1px solid $gray5; }
