// border utilities


// no border

.u-border--0 {
  border: none;
}


// border all sides

.u-border-a--primary {
  border: 1px solid $primary-color;
}

.u-border-a--secondary {
  border: 1px solid $secondary-color;
}

.u-border-a--red {
  border: 1px solid $red;
}

.u-border-a--green {
  border: 1px solid $green;
}

.u-border-a--gray90 {
  border: 1px solid $gray90;
}

.u-border-a--gray85 {
  border: 1px solid $gray85;
}

.u-border-a--gray80 {
  border: 1px solid $gray80;
}

.u-border-a--gray75 {
  border: 1px solid $gray75;
}

.u-border-a--gray70 {
  border: 1px solid $gray70;
}

.u-border-a--gray65 {
  border: 1px solid $gray65;
}

.u-border-a--gray60 {
  border: 1px solid $gray60;
}

.u-border-a--gray55 {
  border: 1px solid $gray55;
}

.u-border-a--gray50 {
  border: 1px solid $gray50;
}

.u-border-a--gray45 {
  border: 1px solid $gray45;
}

.u-border-a--gray40 {
  border: 1px solid $gray40;
}

.u-border-a--gray35 {
  border: 1px solid $gray35;
}

.u-border-a--gray30 {
  border: 1px solid $gray30;
}

.u-border-a--gray25 {
  border: 1px solid $gray25;
}

.u-border-a--gray20 {
  border: 1px solid $gray20;
}

.u-border-a--gray15 {
  border: 1px solid $gray15;
}

.u-border-a--gray10 {
  border: 1px solid $gray10;
}

.u-border-a--gray5 {
  border: 1px solid $gray5;
}

// border-top

.u-border-t--primary {
  border-top: 1px solid $primary-color;
}

.u-border-t--secondary {
  border-top: 1px solid $secondary-color;
}

.u-border-t--red {
  border-top: 1px solid $red;
}

.u-border-t--green {
  border-top: 1px solid $green;
}

.u-border-t--gray90 {
  border-top: 1px solid $gray90;
}

.u-border-t--gray85 {
  border-top: 1px solid $gray85;
}

.u-border-t--gray80 {
  border-top: 1px solid $gray80;
}

.u-border-t--gray75 {
  border-top: 1px solid $gray75;
}

.u-border-t--gray70 {
  border-top: 1px solid $gray70;
}

.u-border-t--gray65 {
  border-top: 1px solid $gray65;
}

.u-border-t--gray60 {
  border-top: 1px solid $gray60;
}

.u-border-t--gray55 {
  border-top: 1px solid $gray55;
}

.u-border-t--gray50 {
  border-top: 1px solid $gray50;
}

.u-border-t--gray45 {
  border-top: 1px solid $gray45;
}

.u-border-t--gray40 {
  border-top: 1px solid $gray40;
}

.u-border-t--gray35 {
  border-top: 1px solid $gray35;
}

.u-border-t--gray30 {
  border-top: 1px solid $gray30;
}

.u-border-t--gray25 {
  border-top: 1px solid $gray25;
}

.u-border-t--gray20 {
  border-top: 1px solid $gray20;
}

.u-border-t--gray15 {
  border-top: 1px solid $gray15;
}

.u-border-t--gray10 {
  border-top: 1px solid $gray10;
}

.u-border-t--gray5 {
  border-top: 1px solid $gray5;
}

// border-bottom

.u-border-b--primary {
  border-bottom: 1px solid $primary-color;
}

.u-border-b--secondary {
  border-bottom: 1px solid $secondary-color;
}

.u-border-b--red {
  border-bottom: 1px solid $red;
}

.u-border-b--green {
  border-bottom: 1px solid $green;
}

.u-border-b--gray90 {
  border-bottom: 1px solid $gray90;
}

.u-border-b--gray85 {
  border-bottom: 1px solid $gray85;
}

.u-border-b--gray80 {
  border-bottom: 1px solid $gray80;
}

.u-border-b--gray75 {
  border-bottom: 1px solid $gray75;
}

.u-border-b--gray70 {
  border-bottom: 1px solid $gray70;
}

.u-border-b--gray65 {
  border-bottom: 1px solid $gray65;
}

.u-border-b--gray60 {
  border-bottom: 1px solid $gray60;
}

.u-border-b--gray55 {
  border-bottom: 1px solid $gray55;
}

.u-border-b--gray50 {
  border-bottom: 1px solid $gray50;
}

.u-border-b--gray45 {
  border-bottom: 1px solid $gray45;
}

.u-border-b--gray40 {
  border-bottom: 1px solid $gray40;
}

.u-border-b--gray35 {
  border-bottom: 1px solid $gray35;
}

.u-border-b--gray30 {
  border-bottom: 1px solid $gray30;
}

.u-border-b--gray25 {
  border-bottom: 1px solid $gray25;
}

.u-border-b--gray20 {
  border-bottom: 1px solid $gray20;
}

.u-border-b--gray15 {
  border-bottom: 1px solid $gray15;
}

.u-border-b--gray10 {
  border-bottom: 1px solid $gray10;
}

.u-border-b--gray5 {
  border-bottom: 1px solid $gray5;
}
