// color utilities

.c-primary              { color: $primary-color; }
.c-secondary            { color: $secondary-color; }

.c-black                { color: $black; }
.c-white                { color: $white; }
.c-red                  { color: $red; }
.c-green                { color: $green; }

.c-link-color           { color: $link-color; }
.c-link-color-visited   { color: $link-color-visited; }
.c-link-color-focus     { color: $link-color-focus; }
.c-link-color-hover     { color: $link-color-hover; }
.c-link-color-active    { color: $link-color-active; }

.c-gray90               { color: $gray90; }
.c-gray85               { color: $gray85; }
.c-gray80               { color: $gray80; }
.c-gray75               { color: $gray75; }
.c-gray70               { color: $gray70; }
.c-gray65               { color: $gray65; }
.c-gray60               { color: $gray60; }
.c-gray55               { color: $gray55; }
.c-gray50               { color: $gray50; }


// background utilities

.bg-primary             { background-color: $primary-color; }
.bg-primary95           { background-color: lighten($primary-color, 5%); }
.bg-primary90           { background-color: lighten($primary-color, 10%); }
.bg-primary85           { background-color: lighten($primary-color, 15%); }
.bg-primary80           { background-color: lighten($primary-color, 20%); }
.bg-primary75           { background-color: lighten($primary-color, 25%); }
.bg-primary70           { background-color: lighten($primary-color, 30%); }
.bg-primary65           { background-color: lighten($primary-color, 35%); }
.bg-primary60           { background-color: lighten($primary-color, 40%); }
.bg-primary55           { background-color: lighten($primary-color, 45%); }
.bg-primary50           { background-color: lighten($primary-color, 50%); }
.bg-primary45           { background-color: lighten($primary-color, 55%); }
.bg-primary40           { background-color: lighten($primary-color, 60%); }

.bg-secondary           { background-color: $secondary-color; }
.bg-secondary95         { background-color: lighten($secondary-color, 5%); }
.bg-secondary90         { background-color: lighten($secondary-color, 10%); }
.bg-secondary85         { background-color: lighten($secondary-color, 15%); }
.bg-secondary80         { background-color: lighten($secondary-color, 20%); }
.bg-secondary75         { background-color: lighten($secondary-color, 25%); }
.bg-secondary70         { background-color: lighten($secondary-color, 30%); }
.bg-secondary65         { background-color: lighten($secondary-color, 35%); }
.bg-secondary60         { background-color: lighten($secondary-color, 40%); }
.bg-secondary55         { background-color: lighten($secondary-color, 45%); }
.bg-secondary50         { background-color: lighten($secondary-color, 50%); }
.bg-secondary45         { background-color: lighten($secondary-color, 55%); }
.bg-secondary40         { background-color: lighten($secondary-color, 60%); }

.bg-black               { background-color: $black; }
.bg-white               { background-color: $white; }
.bg-red                 { background-color: $red; }
.bg-green               { background-color: $green; }

.bg-link-color          { background-color: $link-color; }
.bg-link-color-visited  { background-color: $link-color-visited; }
.bg-link-color-focus    { background-color: $link-color-focus; }
.bg-link-color-hover    { background-color: $link-color-hover; }
.bg-link-color-active   { background-color: $link-color-active; }

.bg-gray5               { background-color: $gray5 ; }
.bg-gray10              { background-color: $gray10; }
.bg-gray15              { background-color: $gray15; }
.bg-gray20              { background-color: $gray20; }
.bg-gray25              { background-color: $gray25; }
.bg-gray30              { background-color: $gray30; }
.bg-gray35              { background-color: $gray35; }
.bg-gray40              { background-color: $gray40; }
.bg-gray45              { background-color: $gray45; }
.bg-gray50              { background-color: $gray50; }
.bg-gray55              { background-color: $gray55; }
.bg-gray60              { background-color: $gray60; }
.bg-gray65              { background-color: $gray65; }
.bg-gray70              { background-color: $gray70; }
.bg-gray75              { background-color: $gray75; }
.bg-gray80              { background-color: $gray80; }
.bg-gray85              { background-color: $gray85; }
.bg-gray90              { background-color: $gray90; }
