// all

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-float-none {
  float: none;
}

.u-clear-left {
  clear: left;
}

.u-clear-right {
  clear: right;
}

.u-clear-both {
  clear: both;
}

.clear-fix {
  @include clearfix;
}


// xs only

@media (max-width: $screen-xs-max) {
  .u-float-left--xs {
    float: left;
  }

  .u-float-right--xs {
    float: right;
  }

  .u-float-none--xs {
    float: none;
  }

  .u-clear-left-xs {
    clear: left;
  }

  .u-clear-right-xs {
    clear: right;
  }

  .u-clear-both-xs {
    clear: both;
  }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-float-left--sm {
    float: left;
  }

  .u-float-right--sm {
    float: right;
  }

  .u-float-none--sm {
    float: none;
  }

  .u-clear-left-sm {
    clear: left;
  }

  .u-clear-right-sm {
    clear: right;
  }

  .u-clear-both-sm {
    clear: both;
  }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-float-left--md {
    float: left;
  }

  .u-float-right--md {
    float: right;
  }

  .u-float-none--md {
    float: none;
  }

  .u-clear-left-md {
    clear: left;
  }

  .u-clear-right-md {
    clear: right;
  }

  .u-clear-both-md {
    clear: both;
  }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-float-left--lg {
    float: left;
  }

  .u-float-right--lg {
    float: right;
  }

  .u-float-none--lg {
    float: none;
  }

  .u-clear-left-lg {
    clear: left;
  }

  .u-clear-right-lg {
    clear: right;
  }

  .u-clear-both-lg {
    clear: both;
  }
}
