// all

.u-font-50 { font-size: $font50; }
.u-font-48 { font-size: $font48; }
.u-font-46 { font-size: $font46; }
.u-font-44 { font-size: $font44; }
.u-font-42 { font-size: $font42; }
.u-font-40 { font-size: $font40; }
.u-font-38 { font-size: $font38; }
.u-font-36 { font-size: $font36; }
.u-font-34 { font-size: $font34; }
.u-font-32 { font-size: $font32; }
.u-font-30 { font-size: $font30; }
.u-font-28 { font-size: $font28; }
.u-font-26 { font-size: $font26; }
.u-font-24 { font-size: $font24; }
.u-font-22 { font-size: $font22; }
.u-font-20 { font-size: $font20; }
.u-font-18 { font-size: $font18; }
.u-font-16 { font-size: $font16; }
.u-font-14 { font-size: $font14; }

// xs only

@media (max-width: $screen-xs-max) {
  .u-font-50-xs { font-size: $font50; }
  .u-font-48-xs { font-size: $font48; }
  .u-font-46-xs { font-size: $font46; }
  .u-font-44-xs { font-size: $font44; }
  .u-font-42-xs { font-size: $font42; }
  .u-font-40-xs { font-size: $font40; }
  .u-font-38-xs { font-size: $font38; }
  .u-font-36-xs { font-size: $font36; }
  .u-font-34-xs { font-size: $font34; }
  .u-font-32-xs { font-size: $font32; }
  .u-font-30-xs { font-size: $font30; }
  .u-font-28-xs { font-size: $font28; }
  .u-font-26-xs { font-size: $font26; }
  .u-font-24-xs { font-size: $font24; }
  .u-font-22-xs { font-size: $font22; }
  .u-font-20-xs { font-size: $font20; }
  .u-font-18-xs { font-size: $font18; }
  .u-font-16-xs { font-size: $font16; }
  .u-font-14-xs { font-size: $font14; }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-font-50-sm { font-size: $font50; }
  .u-font-48-sm { font-size: $font48; }
  .u-font-46-sm { font-size: $font46; }
  .u-font-44-sm { font-size: $font44; }
  .u-font-42-sm { font-size: $font42; }
  .u-font-40-sm { font-size: $font40; }
  .u-font-38-sm { font-size: $font38; }
  .u-font-36-sm { font-size: $font36; }
  .u-font-34-sm { font-size: $font34; }
  .u-font-32-sm { font-size: $font32; }
  .u-font-30-sm { font-size: $font30; }
  .u-font-28-sm { font-size: $font28; }
  .u-font-26-sm { font-size: $font26; }
  .u-font-24-sm { font-size: $font24; }
  .u-font-22-sm { font-size: $font22; }
  .u-font-20-sm { font-size: $font20; }
  .u-font-18-sm { font-size: $font18; }
  .u-font-16-sm { font-size: $font16; }
  .u-font-14-sm { font-size: $font14; }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-font-50-md { font-size: $font50; }
  .u-font-48-md { font-size: $font48; }
  .u-font-46-md { font-size: $font46; }
  .u-font-44-md { font-size: $font44; }
  .u-font-42-md { font-size: $font42; }
  .u-font-40-md { font-size: $font40; }
  .u-font-38-md { font-size: $font38; }
  .u-font-36-md { font-size: $font36; }
  .u-font-34-md { font-size: $font34; }
  .u-font-32-md { font-size: $font32; }
  .u-font-30-md { font-size: $font30; }
  .u-font-28-md { font-size: $font28; }
  .u-font-26-md { font-size: $font26; }
  .u-font-24-md { font-size: $font24; }
  .u-font-22-md { font-size: $font22; }
  .u-font-20-md { font-size: $font20; }
  .u-font-18-md { font-size: $font18; }
  .u-font-16-md { font-size: $font16; }
  .u-font-14-md { font-size: $font14; }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-font-50-lg { font-size: $font50; }
  .u-font-48-lg { font-size: $font48; }
  .u-font-46-lg { font-size: $font46; }
  .u-font-44-lg { font-size: $font44; }
  .u-font-42-lg { font-size: $font42; }
  .u-font-40-lg { font-size: $font40; }
  .u-font-38-lg { font-size: $font38; }
  .u-font-36-lg { font-size: $font36; }
  .u-font-34-lg { font-size: $font34; }
  .u-font-32-lg { font-size: $font32; }
  .u-font-30-lg { font-size: $font30; }
  .u-font-28-lg { font-size: $font28; }
  .u-font-26-lg { font-size: $font26; }
  .u-font-24-lg { font-size: $font24; }
  .u-font-22-lg { font-size: $font22; }
  .u-font-20-lg { font-size: $font20; }
  .u-font-18-lg { font-size: $font18; }
  .u-font-16-lg { font-size: $font16; }
  .u-font-14-lg { font-size: $font14; }
}
