// all

.u-hidden {
  @include hidden;
}


// xs only

@media (max-width: $screen-xs-max) {
  .u-hidden-xs {
    display: none !important;
  }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-hidden-sm {
    display: none !important;
  }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-hidden-md {
    display: none !important;
  }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-hidden-lg {
    display: none !important;
  }
}
