.u-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.u-image-left {
  float: left;
  max-width: 100%;
  height: auto;
  margin-right: 1em;
  margin-bottom: .5em;
}

.u-image-right {
  float: right;
  max-width: 100%;
  height: auto;
  margin-bottom: .5em;
  margin-left: 1em;
}
