// all

.u-mar-y-0 { margin-top: 0; margin-bottom: 0; }
.u-mar-y-h { margin-top: .5em;  margin-bottom: .5em;  }
.u-mar-y-1 { margin-top: 1em;  margin-bottom: 1em;  }
.u-mar-y-2 { margin-top: 2em;  margin-bottom: 2em;  }
.u-mar-y-3 { margin-top: 3em;  margin-bottom: 3em;  }


// xs only

@media (max-width: $screen-xs-max) {
  .u-mar-y-0-xs { margin-top: 0; margin-bottom: 0; }
  .u-mar-y-h-xs { margin-top: .5em;  margin-bottom: .5em;  }
  .u-mar-y-1-xs { margin-top: 1em;  margin-bottom: 1em;  }
  .u-mar-y-2-xs { margin-top: 2em;  margin-bottom: 2em;  }
  .u-mar-y-3-xs { margin-top: 3em;  margin-bottom: 3em;  }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-mar-y-0-sm { margin-top: 0; margin-bottom: 0; }
  .u-mar-y-h-sm { margin-top: .5em;  margin-bottom: .5em;  }
  .u-mar-y-1-sm { margin-top: 1em;  margin-bottom: 1em;  }
  .u-mar-y-2-sm { margin-top: 2em;  margin-bottom: 2em;  }
  .u-mar-y-3-sm { margin-top: 3em;  margin-bottom: 3em;  }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-mar-y-0-md { margin-top: 0; margin-bottom: 0; }
  .u-mar-y-h-md { margin-top: .5em;  margin-bottom: .5em;  }
  .u-mar-y-1-md { margin-top: 1em;  margin-bottom: 1em;  }
  .u-mar-y-2-md { margin-top: 2em;  margin-bottom: 2em;  }
  .u-mar-y-3-md { margin-top: 3em;  margin-bottom: 3em;  }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-mar-y-0-lg { margin-top: 0; margin-bottom: 0; }
  .u-mar-y-h-lg { margin-top: .5em;  margin-bottom: .5em;  }
  .u-mar-y-1-lg { margin-top: 1em;  margin-bottom: 1em;  }
  .u-mar-y-2-lg { margin-top: 2em;  margin-bottom: 2em;  }
  .u-mar-y-3-lg { margin-top: 3em;  margin-bottom: 3em;  }
}
