// all

.u-mar-r-0 { margin-right: 0; }
.u-mar-r-h { margin-right: .5em; }
.u-mar-r-1 { margin-right: 1em; }
.u-mar-r-2 { margin-right: 2em; }
.u-mar-r-3 { margin-right: 3em; }
.u-mar-r-4 { margin-right: 4em; }
.u-mar-r-5 { margin-right: 5em; }


// xs only

@media (max-width: $screen-xs-max) {
  .u-mar-r-0-xs { margin-right: 0; }
  .u-mar-r-h-xs { margin-right: .5em; }
  .u-mar-r-1-xs { margin-right: 1em; }
  .u-mar-r-2-xs { margin-right: 2em; }
  .u-mar-r-3-xs { margin-right: 3em; }
  .u-mar-r-4-xs { margin-right: 4em; }
  .u-mar-r-5-xs { margin-right: 5em; }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-mar-r-0-sm { margin-right: 0; }
  .u-mar-r-h-sm { margin-right: .5em; }
  .u-mar-r-1-sm { margin-right: 1em; }
  .u-mar-r-2-sm { margin-right: 2em; }
  .u-mar-r-3-sm { margin-right: 3em; }
  .u-mar-r-4-sm { margin-right: 4em; }
  .u-mar-r-5-sm { margin-right: 5em; }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-mar-r-0-md { margin-right: 0; }
  .u-mar-r-h-md { margin-right: .5em; }
  .u-mar-r-1-md { margin-right: 1em; }
  .u-mar-r-2-md { margin-right: 2em; }
  .u-mar-r-3-md { margin-right: 3em; }
  .u-mar-r-4-md { margin-right: 4em; }
  .u-mar-r-5-md { margin-right: 5em; }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-mar-r-0-lg { margin-right: 0; }
  .u-mar-r-h-lg { margin-right: .5em; }
  .u-mar-r-1-lg { margin-right: 1em; }
  .u-mar-r-2-lg { margin-right: 2em; }
  .u-mar-r-3-lg { margin-right: 3em; }
  .u-mar-r-4-lg { margin-right: 4em; }
  .u-mar-r-5-lg { margin-right: 5em; }
}
