// all

.u-mar-t0 { margin-top: 0; }
.u-mar-th { margin-top: .5em; }
.u-mar-t1 { margin-top: 1em; }
.u-mar-t2 { margin-top: 2em; }
.u-mar-t3 { margin-top: 3em; }
.u-mar-t4 { margin-top: 4em; }
.u-mar-t5 { margin-top: 5em; }


// xs only

@media (max-width: $screen-xs-max) {
  .u-mar-t0-xs { margin-top: 0; }
  .u-mar-th-xs { margin-top: .5em; }
  .u-mar-t1-xs { margin-top: 1em; }
  .u-mar-t2-xs { margin-top: 2em; }
  .u-mar-t3-xs { margin-top: 3em; }
  .u-mar-t4-xs { margin-top: 4em; }
  .u-mar-t5-xs { margin-top: 5em; }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-mar-t0-sm { margin-top: 0; }
  .u-mar-th-sm { margin-top: .5em; }
  .u-mar-t1-sm { margin-top: 1em; }
  .u-mar-t2-sm { margin-top: 2em; }
  .u-mar-t3-sm { margin-top: 3em; }
  .u-mar-t4-sm { margin-top: 4em; }
  .u-mar-t5-sm { margin-top: 5em; }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-mar-t0-md { margin-top: 0; }
  .u-mar-th-md { margin-top: .5em; }
  .u-mar-t1-md { margin-top: 1em; }
  .u-mar-t2-md { margin-top: 2em; }
  .u-mar-t3-md { margin-top: 3em; }
  .u-mar-t4-md { margin-top: 4em; }
  .u-mar-t5-md { margin-top: 5em; }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-mar-t0-lg { margin-top: 0; }
  .u-mar-th-lg { margin-top: .5em; }
  .u-mar-t1-lg { margin-top: 1em; }
  .u-mar-t2-lg { margin-top: 2em; }
  .u-mar-t3-lg { margin-top: 3em; }
  .u-mar-t4-lg { margin-top: 4em; }
  .u-mar-t5-lg { margin-top: 5em; }
}
