// all

.pad-x-0 { padding-left: 0; padding-right: 0; }
.pad-x-h { padding-left: .5em;  padding-right: .5em;  }
.pad-x-1 { padding-left: 1em;  padding-right: 1em;  }
.pad-x-2 { padding-left: 2em;  padding-right: 2em;  }
.pad-x-3 { padding-left: 3em;  padding-right: 3em;  }


// xs only

@media (max-width: $screen-xs-max) {
  .pad-x-0-xs { padding-left: 0; padding-right: 0; }
  .pad-x-h-xs { padding-left: .5em;  padding-right: .5em;  }
  .pad-x-1-xs { padding-left: 1em;  padding-right: 1em;  }
  .pad-x-2-xs { padding-left: 2em;  padding-right: 2em;  }
  .pad-x-3-xs { padding-left: 3em;  padding-right: 3em;  }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .pad-x-0-sm { padding-left: 0; padding-right: 0; }
  .pad-x-h-sm { padding-left: .5em;  padding-right: .5em;  }
  .pad-x-1-sm { padding-left: 1em;  padding-right: 1em;  }
  .pad-x-2-sm { padding-left: 2em;  padding-right: 2em;  }
  .pad-x-3-sm { padding-left: 3em;  padding-right: 3em;  }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .pad-x-0-md { padding-left: 0; padding-right: 0; }
  .pad-x-h-md { padding-left: .5em;  padding-right: .5em;  }
  .pad-x-1-md { padding-left: 1em;  padding-right: 1em;  }
  .pad-x-2-md { padding-left: 2em;  padding-right: 2em;  }
  .pad-x-3-md { padding-left: 3em;  padding-right: 3em;  }
}


// lg only

@media (min-width: $screen-lg-min) {
  .pad-x-0-lg { padding-left: 0; padding-right: 0; }
  .pad-x-h-lg { padding-left: .5em;  padding-right: .5em;  }
  .pad-x-1-lg { padding-left: 1em;  padding-right: 1em;  }
  .pad-x-2-lg { padding-left: 2em;  padding-right: 2em;  }
  .pad-x-3-lg { padding-left: 3em;  padding-right: 3em;  }
}
