// all

.pad-r-0 { padding-right: 0; }
.pad-r-h { padding-right: .5em; }
.pad-r-1 { padding-right: 1em; }
.pad-r-2 { padding-right: 2em; }
.pad-r-3 { padding-right: 3em; }
.pad-r-4 { padding-right: 4em; }
.pad-r-5 { padding-right: 5em; }


// xs only

@media (max-width: $screen-xs-max) {
  .pad-r-0-xs { padding-right: 0; }
  .pad-r-h-xs { padding-right: .5em; }
  .pad-r-1-xs { padding-right: 1em; }
  .pad-r-2-xs { padding-right: 2em; }
  .pad-r-3-xs { padding-right: 3em; }
  .pad-r-4-xs { padding-right: 4em; }
  .pad-r-5-xs { padding-right: 5em; }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .pad-r-0-sm { padding-right: 0; }
  .pad-r-h-sm { padding-right: .5em; }
  .pad-r-1-sm { padding-right: 1em; }
  .pad-r-2-sm { padding-right: 2em; }
  .pad-r-3-sm { padding-right: 3em; }
  .pad-r-4-sm { padding-right: 4em; }
  .pad-r-5-sm { padding-right: 5em; }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .pad-r-0-md { padding-right: 0; }
  .pad-r-h-md { padding-right: .5em; }
  .pad-r-1-md { padding-right: 1em; }
  .pad-r-2-md { padding-right: 2em; }
  .pad-r-3-md { padding-right: 3em; }
  .pad-r-4-md { padding-right: 4em; }
  .pad-r-5-md { padding-right: 5em; }
}


// lg only

@media (min-width: $screen-lg-min) {
  .pad-r-0-lg { padding-right: 0; }
  .pad-r-h-lg { padding-right: .5em; }
  .pad-r-1-lg { padding-right: 1em; }
  .pad-r-2-lg { padding-right: 2em; }
  .pad-r-3-lg { padding-right: 3em; }
  .pad-r-4-lg { padding-right: 4em; }
  .pad-r-5-lg { padding-right: 5em; }
}
