// all

.pad-y-0 { padding-top: 0; padding-bottom: 0; }
.pad-y-h { padding-top: .5em;  padding-bottom: .5em;  }
.pad-y-1 { padding-top: 1em;  padding-bottom: 1em;  }
.pad-y-2 { padding-top: 2em;  padding-bottom: 2em;  }
.pad-y-3 { padding-top: 3em;  padding-bottom: 3em;  }


// xs only

@media (max-width: $screen-xs-max) {
  .pad-y-0-xs { padding-top: 0; padding-bottom: 0; }
  .pad-y-h-xs { padding-top: .5em;  padding-bottom: .5em;  }
  .pad-y-1-xs { padding-top: 1em;  padding-bottom: 1em;  }
  .pad-y-2-xs { padding-top: 2em;  padding-bottom: 2em;  }
  .pad-y-3-xs { padding-top: 3em;  padding-bottom: 3em;  }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .pad-y-0-sm { padding-top: 0; padding-bottom: 0; }
  .pad-y-h-sm { padding-top: .5em;  padding-bottom: .5em;  }
  .pad-y-1-sm { padding-top: 1em;  padding-bottom: 1em;  }
  .pad-y-2-sm { padding-top: 2em;  padding-bottom: 2em;  }
  .pad-y-3-sm { padding-top: 3em;  padding-bottom: 3em;  }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .pad-y-0-md { padding-top: 0; padding-bottom: 0; }
  .pad-y-h-md { padding-top: .5em;  padding-bottom: .5em;  }
  .pad-y-1-md { padding-top: 1em;  padding-bottom: 1em;  }
  .pad-y-2-md { padding-top: 2em;  padding-bottom: 2em;  }
  .pad-y-3-md { padding-top: 3em;  padding-bottom: 3em;  }
}


// lg only

@media (min-width: $screen-lg-min) {
  .pad-y-0-lg { padding-top: 0; padding-bottom: 0; }
  .pad-y-h-lg { padding-top: .5em;  padding-bottom: .5em;  }
  .pad-y-1-lg { padding-top: 1em;  padding-bottom: 1em;  }
  .pad-y-2-lg { padding-top: 2em;  padding-bottom: 2em;  }
  .pad-y-3-lg { padding-top: 3em;  padding-bottom: 3em;  }
}
