// all

.u-row-pad1 { padding-top: 1em; padding-bottom: 1em; }
.u-row-pad2 { padding-top: 1em; padding-bottom: 1em; }
.u-row-pad3 { padding-top: 1em; padding-bottom: 1em; }
.u-row-pad4 { padding-top: 2em; padding-bottom: 2em; }
.u-row-pad5 { padding-top: 2em; padding-bottom: 2em; }
.u-row-pad6 { padding-top: 2.5em; padding-bottom: 2.5em; }
.u-row-pad7 { padding-top: 3em; padding-bottom: 3em; }


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-row-pad1 { padding-top: 1em; padding-bottom: 1em; }
  .u-row-pad2 { padding-top: 1em; padding-bottom: 1em; }
  .u-row-pad3 { padding-top: 1.5em; padding-bottom: 1.5em; }
  .u-row-pad4 { padding-top: 2.5em; padding-bottom: 2.5em; }
  .u-row-pad5 { padding-top: 3em; padding-bottom: 3em; }
  .u-row-pad6 { padding-top: 3.5em; padding-bottom: 3.5em; }
  .u-row-pad7 { padding-top: 4em; padding-bottom: 4em; }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-row-pad1 { padding-top: 1em; padding-bottom: 1em; }
  .u-row-pad2 { padding-top: 1.5em; padding-bottom: 1.5em; }
  .u-row-pad3 { padding-top: 2em; padding-bottom: 2em; }
  .u-row-pad4 { padding-top: 3em; padding-bottom: 3em; }
  .u-row-pad5 { padding-top: 4em; padding-bottom: 4em; }
  .u-row-pad6 { padding-top: 4.5em; padding-bottom: 4.5em; }
  .u-row-pad7 { padding-top: 5em; padding-bottom: 5em; }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-row-pad1 { padding-top: 1em; padding-bottom: 1em; }
  .u-row-pad2 { padding-top: 2em; padding-bottom: 2em; }
  .u-row-pad3 { padding-top: 3em; padding-bottom: 3em; }
  .u-row-pad4 { padding-top: 4em; padding-bottom: 4em; }
  .u-row-pad5 { padding-top: 5em; padding-bottom: 5em; }
  .u-row-pad6 { padding-top: 6em; padding-bottom: 6em; }
  .u-row-pad7 { padding-top: 7em; padding-bottom: 7em; }
}
