// all

.u-visible,
.u-visible-xs,
.u-visible-sm,
.u-visible-md,
.u-visible-lg {
  display: none !important;
}


// xs only

@media (max-width: $screen-xs-max) {
  .u-visible-xs {
    display: inline-block !important;
  }
}


// sm only

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .u-visible-sm {
    display: inline-block !important;
  }
}


// md only

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-visible-md {
    display: inline-block !important;
  }
}


// lg only

@media (min-width: $screen-lg-min) {
  .u-visible-lg {
    display: inline-block !important;
  }
}
